<style type="text/css">
  table {
    font-size: 12px;
  }
</style>
<div class="col-left">
  <!-- Sub Menu and Path -->
  <div class="sub_path">
    <!-- Path -->
    <div class="path">
      <!--<a href="#path-pop" class="path-back">...</a>-->
      <ul>
        <li class="path-last"><a href="javascript:void(0)">My Account</a></li>
      </ul>
    </div>
    <!-- Path Pop Up-->
    <ul id="path-pop" class="path-pop"></ul>
    <!-- Sub Menu -->
    <ul class="menu-list">
      <li><a id="sub_menu_detail" href="#!homeAccount">My Profile</a></li>
      <li>
        <a id="sub_menu_summary" href="#!balance_Overview">Balance Overview</a>
      </li>
      <li>
        <a
          id="sub_menu_accountCashStatement_log"
          class="select"
          href="#!accountStatement"
          >Account Statement</a
        >
      </li>
      <!-- <li><a id="sub_menu_accountCashStatement_log" href="#!casinoreport">Casino Report</a></li> -->
      <li><a id="sub_menu_my_bets" href="#!mybets">My Bets</a></li>
      <li>
        <a id="sub_menu_activity_log" href="#!loghistory">Activity Log</a>
      </li>
    </ul>
  </div>
</div>
<div class="col-center report">
  <!-- Loading Wrap -->
  <div id="loading" class="loading-wrap" style="display: none">
    <ul class="loading">
      <li><img src="images/loading40.gif" alt="loading" /></li>
      <li>Loading...</li>
    </ul>
  </div>

  <!-- Message -->
  <div id="message" class="message-wrap success">
    <a class="btn-close">Close</a>
    <p></p>
  </div>

  <!-- <script language="JavaScript" type="text/javascript">
  (function () {
    $j('.btn-close').click(function () {
      $j('#message').hide();
    });
  })();
</script> -->

  <h2>Account Statement</h2>

  <div class="filters">
      <div class="datePickers">
         <ul class="input-list">
            <li><label>Type :</label></li>

            <li>

               <select data-ng-model="statementType" data-ng-change="AccountStatement()">

                  <option value="0" selected="">All</option>
                  <option value="1">Show D|W Point</option>
                  <option value="2">Show Market P|L</option>
                  <option value="3">Cash</option>
                  <option value="4">Credit</option>
                  <option value="5">Cash &amp; P|L</option>
               </select>

            </li>
            <li>
               <input id="startDate" class="cal-input" type="text" style="width: 150px" placeholder="YYYY-MM-DD">
               to
               <input id="endDate" class="cal-input" type="text" style="width: 150px" placeholder="YYYY-MM-DD">
            </li>
            <li><a id="getPL" href="javascript:void(0)" class="btn-send" data-ng-click="AccountStatement()">Search</a>
            </li>
         </ul>


      </div>
   </div>

  <table id="table_log" class="table01">
    <tbody>
      <tr>
        <th style="width: 15%" class="align-L">Date/Time</th>

        <th style="width: 12%">Deposit</th>

        <th style="width: 12%">Withdraw</th>

        <th style="width: 12%">Balance</th>

        <th style="width: 49%">Remark</th>
        <!-- <th>From/To</th> -->
      </tr>
    </tbody>
    <tbody id="content">
      <tr data-ng-if="accountdataList.length==0">
        <td class="no-data" colspan="5">
          <p>No Data Found</p>
        </td>
      </tr>
      <!--  <tr ng-if="loading==true">
                     <td class="no-data" colspan="5">
                        <h3 style="text-align: center;">Loading....</h3>
                     </td>
                  </tr> -->
      <tr data-ng-repeat="accountdata in accountdataList">
        <td id="createDate" class="align-L">{{accountdata.date}}</td>
        <td id="withdraw">
          <span data-ng-class="(accountdata.cr<0)?'red':'green'"
            >{{(accountdata.cr==null || accountdata.cr=='' ||
            accountdata.cr=='-')?'--':accountdata.cr}}</span
          >
        </td>
        <td id="deposit">
          <span data-ng-class="(accountdata.dr<0)?'red':'green'"
            >{{(accountdata.dr==null || accountdata.dr=='' ||
            accountdata.dr=='-')?'--':accountdata.dr}}</span
          >
        </td>
        <td id="balance">
          <span data-ng-class="(accountdata.balance<0)?'red':'green'"
            >{{accountdata.balance | number:2}}</span
          >
        </td>
        <td id="remark">{{accountdata.description}}</td>
      </tr>
    </tbody>
  </table>

  <!-- <script type="text/javascript" src="/js/util/PageUtil.js?v=20190118_1547779200000"></script> -->
  <!-- <div>
	<ul style="display: none">
		<li><a href="javascript:void(0);">Prev</a></li>
		<li><a href="javascript:void(0);">Next</a></li>
		<li><a href="javascript:void(0);"></a></li>
		<li id="more"><a href="javascript:void(0);">...</a></li>
		<input type="text" id="goToPageNumber" onkeyup="return PageHandler.validatePageNumber(this)" maxlength="6" size="4">
		<li><a id="goPageBtn">GO</a></li>			
	</ul>

	<ul id="pageNumberContent" class="pages"><li id="prev"><a href="javascript:void(0);" class="disable" style="pointer-events: none;">Prev</a></li><li id="pageNumber"><a href="javascript:void(0);" class="select" style="pointer-events: none;">1</a></li><li id="next"><a href="javascript:void(0);" class="disable" style="pointer-events: none;">Next</a></li></ul>
</div> -->
</div>
<script>
  $(function () {
    $("#startDate").datetimepicker({
      format: "Y-m-d H:i:s",
    });
    $("#endDate").datetimepicker({
      format: "Y-m-d H:i:s",
    });
  });
</script>
