<style type="text/css">
  table tr td {
    font-size: 12px;
  }
</style>
<!-- Left Column -->
<div class="col-left">
  <!-- Sub Menu and Path -->
  <div class="sub_path">
    <!-- Path -->
    <div class="path">
      <!--<a href="#path-pop" class="path-back">...</a>-->
      <ul>
        <li class="path-last"><a href="javascript:void(0)">My Account</a></li>
      </ul>
    </div>
    <!-- Path Pop Up-->
    <ul id="path-pop" class="path-pop"></ul>
    <!-- Sub Menu -->
    <ul class="menu-list">
      <li><a id="sub_menu_detail" href="#!homeAccount">My Profile</a></li>
      <li>
        <a id="sub_menu_summary" href="#!balance_Overview">Balance Overview</a>
      </li>
      <li>
        <a id="sub_menu_accountCashStatement_log" href="#!accountStatement"
          >Account Statement</a
        >
      </li>
      <!-- <li><a id="sub_menu_accountCashStatement_log" href="#!casinoreport">Casino Report</a></li> -->
      <li>
        <a id="sub_menu_my_bets" href="#!mybets" class="select">My Bets</a>
      </li>
      <li>
        <a id="sub_menu_activity_log" href="#!loghistory">Activity Log</a>
      </li>
    </ul>
  </div>
</div>
<!-- Center Column -->
<div class="col-center report">
  <!-- Loading Wrap -->
  <div id="loading" class="loading-wrap" style="display: none">
    <ul class="loading">
      <li><img src="images/loading40.gif" alt="loading" /></li>
      <li>Loading...</li>
    </ul>
  </div>
  <!-- Message -->
  <div id="message" class="message-wrap success">
    <a class="btn-close">Close</a>
    <p></p>
  </div>
  <h2>My Bets</h2>
  <ul class="tab col3">
    <li><a href="#!mybets">Current Bets</a></li>
    <li><a class="select" href="#!betsHistory">Bets History</a></li>
    <li><a href="#!profitLoss">Profit &amp; Loss</a></li>
  </ul>
  <!-- function -->
  <div class="function-wrap">
    <ul class="input-list">
      <div id="statusCondition" style="">
        <li><label>Bet Status:</label></li>
        <li>
          <select ng-model="betStatus" ng-change="getBetHistory()">
            <option value="4">Settled</option>
            <option value="3">Cancelled</option>
            <!-- <option value="4">Voided</option> -->
          </select>
        </li>
      </div>
      <li><label>Period</label></li>
      <li>
        <input
          id="startDate"
          class="cal-input"
          type="text"
          style="width: 150px"
          placeholder="YYYY-MM-DD"
        />
        <!-- <input id="startTime" class="time-input " type="text" placeholder="HH:MM:SS"> -->
        to
        <input
          id="endDate"
          class="cal-input"
          type="text"
          style="width: 150px"
          placeholder="YYYY-MM-DD"
        />
        <!-- <input id="endTime" class="time-input " type="text" placeholder="HH:MM:SS"> -->
      </li>
      <li style="display: none">(TimeZone:IST)</li>
    </ul>
    <ul class="input-list">
      <li>
        <a
          id="today"
          href="javascript:void(0)"
          data-ng-click="getBetHistoryDate('today')"
          class="btn"
          >Just For Today</a
        >
      </li>
      <li>
        <a
          id="yesterday"
          href="javascript:void(0)"
          data-ng-click="getBetHistoryDate('yesterday')"
          class="btn"
          >From Yesterday</a
        >
      </li>
      <li>
        <a
          id="getPL"
          href="javascript:void(0)"
          data-ng-click="getBetHistory()"
          class="btn-send"
          >Get History</a
        >
      </li>
    </ul>
  </div>
  <!-- No Report Message -->
  <div id="noReportMessage" data-ng-if="getBetHistoryList.length==0">
    <p>
      Betting History enables you to review the bets you have placed.
      <br />Specify the time period during which your bets were placed, the type
      of markets on which the bets were placed, and the sport.
    </p>
    <p>Betting History is available online for the past 3 months.</p>
  </div>
  <!-- function end-->
  <!-- Report Table -->
  <!-- Report Table -->
  <div id="report">
    <table id="matchTableTemplate" class="table-s" style="display: none">
      <tbody>
        <tr>
          <th style="width: 9%" class="align-L">Bet ID</th>
          <th style="width: 9%" class="align-L">PL ID</th>
          <th class="align-L">Market</th>
          <th style="width: 12%">Selection</th>
          <th style="width: 4%">Type</th>
          <th style="width: 8%">Bet placed</th>
          <th style="width: 7%">Odds req.</th>
          <th style="width: 8%">Stake</th>
          <th style="width: 8%">Avg. odds matched</th>
          <th style="width: 10%">Profit/Loss</th>
        </tr>
        <tr id="matchRowTemplate" style="display: none">
          <td class="align-L">
            <a id="betID" href="javascript: void(0);"></a>
          </td>
          <td class="align-L"></td>
          <td class="align-L"></td>
          <td></td>
          <td><span></span></td>
          <td><span class="small-date"></span></td>
          <td></td>
          <td></td>
          <td></td>
          <td><span id="pol" class="small-date"></span></td>
        </tr>
        <tr
          id="expandReductionRowTemplate"
          class="expand"
          style="display: none"
        >
          <td colspan="10">
            <img
              class="expand-arrow"
              src="images/transparent.gif"
              alt="expand-arrow"
            />
            <table>
              <tbody>
                <tr>
                  <th>Bet taken</th>
                  <th style="width: 14%">Odds req.</th>
                  <th style="width: 14%">Stake</th>
                  <th style="width: 14%">Liability</th>
                  <th style="width: 14%">Odds matched</th>
                  <th style="width: 14%">Reduction</th>
                  <th style="width: 14%">Actual Odds.</th>
                </tr>
                <tr style="display: none">
                  <td><span class="small-date"></span></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td id="reduction"></td>
                  <td id="actualOdds"></td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr id="expandRowTemplate" class="expand" style="display: none">
          <td colspan="2"></td>
          <td colspan="8">
            <img
              class="expand-arrow"
              src="images/transparent.gif"
              alt="expand"
            />
            <table>
              <tbody>
                <tr>
                  <th>Bet taken</th>
                  <th style="width: 16%">Odds req.</th>
                  <th style="width: 17%">Stake</th>
                  <th style="width: 24%">Liability</th>
                  <th style="width: 24%">Odds matched</th>
                </tr>
                <tr style="display: none">
                  <td><span class="small-date"></span></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>

    <table
      class="table-s"
      style="display: table; font-size: 13px"
      data-ng-if="getBetHistoryList.length!=0"
    >
      <tbody>
        <tr>
          <th style="width: 9%" class="align-L">Bet ID</th>
          <th style="width: 9%" class="align-L">PL ID</th>
          <th class="align-L">Market</th>
          <th style="width: 12%">Selection</th>
          <th style="width: 4%">Type</th>
          <th style="width: 8%">Bet placed</th>
          <th style="width: 7%">Odds req.</th>
          <th style="width: 8%">Stake</th>
          <th style="width: 8%">Avg. odds matched</th>
          <th style="width: 10%">Profit/Loss</th>
        </tr>
        <tr
          data-ng-repeat-start="betHistory in getBetHistoryList track by betHistory.betId"
        >
          <td class="align-L">
            <a
              data-ng-if="betStatus=='4'"
              id="{{betHistory.betId}}"
              href="javascript: void(0);"
              data-ng-click="betDetails(betHistory.betId)"
              class="expand-close"
              style="font-size: 13px"
              >{{betHistory.betId}}</a
            >
            <a
              data-ng-if="betStatus=='3'"
              href="javascript: void(0);"
              style="font-size: 13px"
              >{{betHistory.betId}}</a
            >
          </td>
          <td class="align-L">{{betHistory.plId}}</td>
          <td class="align-L">
            {{betHistory.market.split('>')[0]}}<img
              class="fromto"
              src="images/transparent.gif"
              alt="fromto"
            /><strong>{{betHistory.market.split('>')[1]}}</strong
            ><img
              class="fromto"
              src="images/transparent.gif"
              alt="format"
            />{{betHistory.market.split('>')[2]}}
          </td>
          <td>{{betHistory.selection}}</td>
          <td>
            <span class="{{betHistory.type.toLowerCase()}}"
              >{{betHistory.type}}</span
            >
          </td>
          <td><span class="small-date">{{betHistory.betPlaced}}</span></td>
          <td>{{betHistory.odds}}</td>
          <td>{{betHistory.stake}}</td>
          <td>{{(betStatus=='4')?betHistory.avgOdds:'-'}}</td>
          <td>
            <span data-ng-class="(betHistory.pnl<0)?'red':'green'"
              >{{(betStatus=='4')?betHistory.pnl:'Cancelled' | number :
              2}}</span
            >
          </td>
        </tr>
        <tr
          data-ng-repeat-end
          id="bet_{{betHistory.betId}}"
          class="expand"
          style="display: none"
        >
          <td colspan="2"></td>
          <td colspan="8">
            <img
              class="expand-arrow"
              src="images/transparent.gif"
              alt="arrow"
            />
            <table style="text-align: right">
              <tbody>
                <tr>
                  <th>Bet taken</th>
                  <th style="width: 16%">Odds req.</th>
                  <th style="width: 17%">Stake</th>
                  <th style="width: 24%">Liability</th>
                  <th style="width: 24%">Odds matched</th>
                </tr>
                <tr class="even">
                  <td>
                    <span class="small-date">{{betHistory.betPlaced}}</span>
                  </td>
                  <td>{{betHistory.odds}}</td>
                  <td>{{betHistory.stake}}</td>
                  <td></td>
                  <td>{{betHistory.avgOdds}}</td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>

    <p class="table-other" data-ng-if="getBetHistoryList.length!=0">
      Betting History is shown net of commission.
    </p>

    <pagination
      ng-model="currentPage"
      total-items="todos.length"
      max-size="maxSize"
      boundary-links="true"
    >
    </pagination>
    <ul class="pages">
      <!-- <li id="prev"><a href="javascript:void(0);">Prev</a></li> -->

      <!-- <li id="prev"><a href="javascript:void(0);" class="disable" style="pointer-events: none;">First</a></li>
            <li id="prev"><a href="javascript:void(0);" class="disable" style="pointer-events: none;">Prev</a></li>
            <li id="pageNumber"><a href="javascript:void(0);" class="select" style="pointer-events: none;">1</a></li>
            <li id="next"><a href="javascript:void(0);" class="disable" style="pointer-events: none;">Next</a></li>
            <li id="prev"><a href="javascript:void(0);" class="disable" style="pointer-events: none;">Last</a></li> -->
    </ul>
    <!-- <script type="text/javascript" src="/js/util/PageUtil.js?v=20180111_1515639000000"></script> -->
    <div>
      <ul style="display: none">
        <li id="prev"><a href="javascript:void(0);">Prev</a></li>
        <li id="next"><a href="javascript:void(0);">Next</a></li>
        <li id="pageNumber"><a href="javascript:void(0);"></a></li>
        <li id="more"><a href="javascript:void(0);">...</a></li>
      </ul>
      <ul id="pageNumberContent" class="pages"></ul>
    </div>
  </div>
</div>
<script>
  $(function () {
    $("#startDate").datetimepicker({
      format: "Y-m-d H:i:s",
    });
    $("#endDate").datetimepicker({
      format: "Y-m-d H:i:s",
    });
  });
</script>
