<style>
   .close{
   height: 25px;
   overflow: hidden;
   }
</style>
<style>
   .content-box {
   overflow: hidden;
   max-width: 688px;
   }
   .heading {
   background: #565656;
   color: #fff;
   font-size: 12px;
   line-height: 16px;
   font-weight: 700;
   padding: 4px 10px 5px;
   }
   .racing-box {
   background: #fff;
   border-left: 1px solid #c6d5e0;
   border-right: 1px solid #c6d5e0;
   padding: 5px 12px 0 7px;
   }
   .racing-box, .racing-box:last-child {
   border-bottom: 1px solid #c6d5e0;
   }
   .racing-box h5 {
   margin: 0 0 6px;
   }
   h5 {
   color: #333;
   font-size: 12px;
   line-height: 16px;
   margin: 0 0 10px;
   }
   .time-racing {
   list-style: none;
   margin: 0;
   padding: 0;
   }
   .time-racing li {
   display: inline-block;
   vertical-align: top;
   margin: 0 14px 10px 0;
   position: relative;
   font-size: 11px;
   line-height: 15px;
   }
   .close{
   height: 25px;
   overflow: hidden;
   }
   .myclass{
   border:1px solid red;
   }
</style>

   <div data-ng-init="inplay()">
      <!-- Center Column -->
      <div id="centerColumn" class="inplay">
     
         <div style="margin-top: 10px;">
            <ul  class="tab col3">
               <li><a data-ng-href="#!inplay"  class="select">In-Play</a></li>
               <li><a data-ng-href="#!today" class="">Today</a></li>
               <li><a data-ng-href="#!tomorrow" class="">Tomorrow</a></li>
            </ul>
         </div>
         
         <div data-ng-repeat="inplay in inplayListData track by $index" class="game-wrap col3">
         	
            <h3>
               <a class="to-expand" toggle-class>{{inplay.name}}</a>
            </h3>
            <ul class="slip-head" data-ng-hide="active">
               <li class="col-game"></li>
               <li class="col-visit">1</li>
               <li class="col-draw" style="">x</li>
               <li class="col-home">2</li>
               <li class="col-info"></li>
            </ul>
            <div id="inplayGameList" class="game-list first" data-ng-hide="active">
               <div id="noDataDiv" class="no-data" data-ng-show="inplay.inplayData.length == 0">
                  <p>There are no events to be displayed.</p>
               </div>
               <dl data-ng-repeat="inplayDetails in inplay.inplayData | orderBy: orderByDate:false track by $index" class="game-list-col">
                  <dt>
                     <a id="fancyBetIcon" data-ng-show="inplayDetails.hasFancy==1"><span class="game-fancy in-play">Fancy</span></a>
                     <img id="playIcon" class="icon-in_play" src="images/transparent.gif" alt="playIcon">
                     <!-- <span id="lowLiquidityTag" class="game-low_liq"></span> -->
                     <!-- <a data-ng-href="#!full-market/{{inplayDetails.marketId}}/{{inplayDetails.matchId}}/{{inplayDetails.bfId}}/{{inplay.name}}/{{inplayDetails.dataMode}}" id="" vsinfo=""><span>{{inplayDetails.matchName}}</span></a> -->
                     <a data-ng-href="#!full-market/{{inplayDetails.SportbfId}}/{{inplayDetails.TourbfId}}/{{inplayDetails.matchId}}/{{inplayDetails.marketId}}/{{inplayDetails.bfId}}"><span>{{inplayDetails.matchName}}</span></a>
                     <span id="dateTimeInfo" class="game-list-time"><span class="in_play">In-Play</span></span>
                     <a id="iconLive" style="cursor: pointer; display: none;"><img class="icon-live" src="images/transparent.gif" alt="In-Play"></a>
                  </dt>
                  <dd id="selectTemp" class="col-visit">
                     <div class="suspend" data-ng-if="inplayDetails.runner1Back==0 && inplayDetails.runner1Lay==0">
                        <span>Suspend</span>
                     </div>
                     <a data-ng-click="betSlip(inplayDetails.bfId,'back', inplayDetails.runner1Name+$index+'back', inplayDetails.runner1Name, inplayDetails.matchName, inplayDetails.runner1Back,inplayDetails.marketId,inplayDetails.matchId,'1',0,0,sportId,inplayDetails.matchBfId)" id="back1_{{$index}}" class="btn-back" data-ng-side="Back">{{inplayDetails.runner1Back | number:2}}</a>
                     <a data-ng-click="betSlip(inplayDetails.bfId,'lay', inplayDetails.runner1Name+$index+'back', inplayDetails.runner1Name, inplayDetails.matchName, inplayDetails.runner1Lay,inplayDetails.marketId,inplayDetails.matchId,'1',0,0,sportId,inplayDetails.matchBfId)" id="lay1_{{$index}}" class="btn-lay" data-ng-side="Lay">{{inplayDetails.runner1Lay | number:2}}</a>
                  </dd>
                  <dd class="col-draw" style="">
                     <div class="suspend" data-ng-if="inplayDetails.runner1Back==0 && inplayDetails.runner1Lay==0 && inplayDetails.runner2Back==0 && inplayDetails.runner2Lay==0">
                        <span>Suspend</span>
                     </div>
                     <a id="btnBack" data-ng-if="item.runner3Name==null" class="btn-back" data-ng-side="Back">--</a>
                     <a id="btnLay" data-ng-if="item.runner3Name==null" class="btn-lay" data-ng-side="Lay">--</a>
                     <a data-ng-if="item.runner3Name!=null" data-ng-click="betSlip(inplayDetails.bfId,'back', inplayDetails.runner3Name+$index+'back', inplayDetails.runner3Name, inplayDetails.matchName, inplayDetails.runner3Back,inplayDetails.marketId,inplayDetails.matchId,'1',0,0,sportId,inplayDetails.matchBfId)"  id="back3_{{$index}}" class="btn-back" data-ng-side="Back">{{(inplayDetails.runner3Back == null) ? '-' : inplayDetails.runner3Back}}</a> 
                     <a data-ng-if="item.runner3Name!=null" data-ng-click="betSlip(inplayDetails.bfId,'lay', inplayDetails.runner3Name+$index+'back', inplayDetails.runner3Name, inplayDetails.matchName, inplayDetails.runner3Lay,inplayDetails.marketId,inplayDetails.matchId,'1',0,0,sportId,inplayDetails.matchBfId)" id="lay3_{{$index}}" class="btn-lay" data-ng-side="Lay">{{(inplayDetails.runner3Lay == null) ? '-' : inplayDetails.runner3Lay}}</a>
                  </dd>
                  <dd class="col-home">
                     <div class="suspend" data-ng-if="inplayDetails.runner2Back==0 && inplayDetails.runner2Lay==0">
                        <span>Suspend</span>
                     </div>
                     <a data-ng-click="betSlip(inplayDetails.bfId,'back', inplayDetails.runner2Name+$index+'back', inplayDetails.runner2Name, inplayDetails.matchName, inplayDetails.runner2Back,inplayDetails.marketId,inplayDetails.matchId,'1',0,0,sportId,inplayDetails.matchBfId)" id="back2_{{$index}}" class="btn-back" data-ng-side="Back">{{inplayDetails.runner2Back | number:2}}</a> 
                     <a data-ng-click="betSlip(inplayDetails.bfId,'lay', inplayDetails.runner2Name+$index+'back', inplayDetails.runner2Name, inplayDetails.matchName, inplayDetails.runner2Lay,inplayDetails.marketId,inplayDetails.matchId,'1',0,0,sportId,inplayDetails.matchBfId)" id="lay2_{{$index}}" class="btn-lay" data-ng-side="Lay">{{inplayDetails.runner2Lay | number:2}}</a>
                  </dd>
                  <dd class="col-info">
                     <a data-ng-if="inplayDetails.isMulti!=1" class="add-pin" style="cursor: pointer" title="Add to Multi Markets" data-ng-click="addMultiMkt(inplayDetails.marketId)"></a>
                     <a data-ng-if="inplayDetails.isMulti==1" class="delete-pin" style="cursor: pointer" title="Remove from Multi Markets" data-ng-click="removeMultiMkt(inplayDetails.marketId)"></a>
                  </dd>
               </dl>
            </div>
         </div>
         <!-- <p><b>There are no events to be displayed.</b></p> -->
      </div>
   </div>
