<style>
  table tr td {
    font-size: 12px;
  }
</style>
<!-- Left Column -->
<div class="col-left">
  <!-- Sub Menu and Path -->
  <div class="sub_path">
    <!-- Path -->
    <div class="path">
      <!--<a href="#path-pop" class="path-back">...</a>-->
      <ul>
        <li class="path-last"><a href="javascript:void(0)">My Account</a></li>
      </ul>
    </div>
    <!-- Path Pop Up-->
    <ul id="path-pop" class="path-pop"></ul>
    <!-- Sub Menu -->
    <ul class="menu-list">
      <li><a id="sub_menu_detail" href="#!homeAccount">My Profile</a></li>
      <li>
        <a id="sub_menu_summary" href="#!balance_Overview">Balance Overview</a>
      </li>
      <li>
        <a id="sub_menu_accountCashStatement_log" href="#!accountStatement"
          >Account Statement</a
        >
      </li>
      <!-- <li><a id="sub_menu_accountCashStatement_log" href="#!casinoreport">Casino Report</a></li> -->
      <li>
        <a id="sub_menu_my_bets" href="#!mybets" class="select">My Bets</a>
      </li>
      <li>
        <a id="sub_menu_activity_log" href="#!loghistory">Activity Log</a>
      </li>
    </ul>
  </div>
</div>
<!-- Center Column -->
<div class="col-center report">
  <!-- Loading Wrap -->
  <div id="loading" class="loading-wrap" style="display: none">
    <ul class="loading">
      <li><img src="images/loading40.gif" alt="loading" /></li>
      <li>Loading...</li>
    </ul>
  </div>
  <!-- Message -->
  <div id="message" class="message-wrap success">
    <a class="btn-close">Close</a>
    <p></p>
  </div>
  <!-- <script language="JavaScript" type="text/javascript">
      (function () {
        $j('.btn-close').click(function () {
          $j('#message').hide();
        });
      })();
      </script> -->
  <h2>My Bets</h2>
  <ul class="tab col3">
    <li><a class="select" href="#!mybets">Current Bets</a></li>
    <li><a href="#!betsHistory">Bets History</a></li>
    <li><a href="#!profitLoss">Profit &amp; Loss</a></li>
  </ul>
  <!-- function -->
  <div class="function-wrap">
    <ul class="input-list">
      <li><label>Bet Status</label></li>
      <li>
        <select data-ng-model="betStatus" data-ng-change="getCurrentBets()">
          <option value="All">All</option>
          <option value="Matched">Matched</option>
          <option value="Unmatched">Unmatched</option>
        </select>
      </li>
      <li></li>
      <li><label>Order By</label></li>
      <li>
        <input id="orderBetPlaced" type="checkbox" checked="" /><label
          for="orderBetPlaced"
          >Bet placed</label
        >
        <input id="orderMarket" type="checkbox" /><label for="orderMarket"
          >Market</label
        >
      </li>
    </ul>
  </div>
  <!-- function end-->
  <table style="display: none">
    <tbody>
      <tr>
        <td class="align-L">
          <img
            id="arrow"
            class="fromto"
            src="images/transparent.gif"
            alt="arrow"
          />
        </td>
      </tr>
      <tr id="tempTr">
        <td class="align-L"><label></label></td>
        <td id="selection"></td>
        <td><span></span></td>
        <td><a href="javascript: void(0);"></a></td>
        <td><span class="small-date"></span></td>
        <td id="oddsReq"></td>
        <td id="matched"></td>
        <td id="unMatched"></td>
        <td id="avgOdds"></td>
        <td><span class="small-date"></span></td>
      </tr>
      <tr id="tempDetailTr" class="expand" style="display: none">
        <td colspan="3"></td>
        <td colspan="7">
          <img
            class="expand-arrow"
            src="images/transparent.gif"
            alt="expand-arrow"
          />
          <table>
            <tbody>
              <tr>
                <th>Bet taken</th>
                <th style="width: 16%">Odds req.</th>
                <th style="width: 17%">Stake</th>
                <th style="width: 24%">Liability</th>
                <th style="width: 24%">Odds matched</th>
              </tr>
            </tbody>
            <tbody id="sub_content"></tbody>
          </table>
        </td>
      </tr>
      <tr>
        <td><span id="betTaken" class="small-date"></span></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>
          <input type="checkbox" />
        </td>
      </tr>
      <!-- Cancel Button -->
      <tr>
        <td colspan="4">
          <ul class="btn-wrap">
            <li><a class="btn" href="#">Cancel</a></li>
          </ul>
        </td>
        <td colspan="6"></td>
      </tr>
    </tbody>
  </table>
  <table
    id="Unmatched_Table"
    class="table-s"
    data-ng-if="betStatus=='All' || betStatus=='Unmatched'"
  >
    <caption>
      Unmatched
    </caption>
    <tbody>
      <tr>
        <th id="Unmatched_market" class="align-L">
          <input
            id="checkAll"
            type="checkbox"
            data-ng-click="allUnmatchedSelected(selectedAll)"
            data-ng-model="selectedAll"
            data-ng-style="(unMatchedbetsList.length==0)?{'display': 'none'}:{'display': 'table-row'}"
          />Market
        </th>
        <th id="Unmatched_selection" style="width: 10%">Selection</th>
        <th id="Unmatched_type" style="width: 3%">Type</th>
        <th id="Unmatched_betId" style="width: 9%">Bet ID</th>
        <th id="Unmatched_betPlaced" style="width: 8%">Bet placed</th>
        <th id="Unmatched_oddsReq" style="width: 8%">Odds req.</th>
        <th id="Unmatched_matched" style="width: 9%">Matched</th>
        <th id="Unmatched_unMatched" style="width: 10%">Unmatched</th>
        <!-- <th id="Unmatched_avgOdds" style="width: 10%" style="display: none;">Avg. odds matched</th> -->
        <th id="Unmatched_dateMatched" style="width: 10%">Date matched</th>
      </tr>
    </tbody>
    <tbody id="Unmatched_Content">
      <tr
        data-ng-repeat-start="unmatchBet in unMatchedbetsList track by unmatchBet.betId"
      >
        <td class="align-L">
          <input
            id="cancelCheckBox"
            data-ng-checked="existUnmatched(unmatchBet)"
            data-ng-click="toggleUnmatchedSelection(unmatchBet)"
            type="checkbox"
            data-id="8664862"
            data-marketid="1.140919486"
            data-eventid="28618075"
          />
          <label
            >{{unmatchBet.sport}}<img
              class="fromto"
              src="images/transparent.gif"
              alt="fromto"
            />
            <strong>{{unmatchBet.matchName}}</strong
            ><img
              class="fromto"
              src="images/transparent.gif"
              alt="marketName"
            />{{matchBet.marketName}}</label
          >
        </td>
        <td style="width: 10%">{{unmatchBet.selection}}</td>
        <td style="width: 3%">
          <span class="{{unmatchBet.type}}">{{unmatchBet.type}}</span>
        </td>
        <td style="width: 9%">
          <a
            data-ng-click="betDetails(unmatchBet.betId)"
            href="javascript: void(0);"
            >{{unmatchBet.betId}}</a
          >
        </td>
        <td style="width: 8%">
          <span class="small-date">{{unmatchBet.placedDate}}</span>
        </td>
        <td style="width: 8%">{{unmatchBet.odds}}</td>
        <td style="width: 9%">{{unmatchBet.matchedStake}}</td>
        <td style="width: 10%">{{unmatchBet.unMatchedStake}}</td>
        <!-- <td style="width: 10%" style="display: none;">{{unmatchBet.avgOdds}}</td> -->
        <td style="width: 10%">
          <span class="small-date">{{unmatchBet.dateMatched}}</span>
        </td>
      </tr>
      <tr
        data-ng-repeat-end
        id="bet_{{unmatchBet.betId}}"
        class="expand"
        style="display: none"
      >
        <td colspan="3"></td>
        <td colspan="7">
          <img
            class="expand-arrow"
            src="images/transparent.gif"
            alt="loading"
          />
          <table style="text-align: right">
            <tbody>
              <tr>
                <th>Bet taken</th>
                <th style="width: 16%">Odds req.</th>
                <th style="width: 17%">Stake</th>
                <th style="width: 24%">Liability</th>
                <th style="width: 24%">Odds matched</th>
              </tr>
              <tr class="even">
                <td>
                  <span class="small-date">{{unmatchBet.dateMatched}}</span>
                </td>
                <td>{{unmatchBet.odds}}</td>
                <td>{{unmatchBet.matchedStake}}</td>
                <td>--</td>
                <td>{{unmatchBet.avgOdds}}</td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
      <tr data-ng-if="unMatchedbetsList.length!=0">
        <td colspan="4">
          <ul class="btn-wrap">
            <li>
              <a
                class="btn"
                href="javascript:void(0)"
                data-ng-click="cancelBet()"
                >Cancel</a
              >
            </li>
          </ul>
        </td>
        <td colspan="6"></td>
      </tr>
      <tr data-ng-if="unMatchedbetsList.length==0" style="display: table-row">
        <td class="no-data" colspan="9">
          <p>You have no bets in this time period.</p>
        </td>
      </tr>
    </tbody>
  </table>
  <table
    id="Matched_Table"
    class="table-s"
    data-ng-if="betStatus=='All' || betStatus=='Matched'"
    style="font-size: 13px"
  >
    <caption>
      Matched
    </caption>
    <tbody>
      <tr>
        <th id="Matched_market" class="align-L">Market</th>
        <th id="Matched_selection" style="width: 10%">Selection</th>
        <th id="Matched_type" style="width: 3%">Type</th>
        <th id="Matched_betId" style="width: 9%">Bet ID</th>
        <th id="Matched_betPlaced" style="width: 8%">Bet placed</th>
        <th id="Matched_oddsReq" style="width: 8%">Odds req.</th>
        <th id="Matched_matched" style="width: 9%">Matched</th>
        <!-- <th id="Matched_unMatched" style="width: 10%" style="display: none;">Unmatched </th> -->
        <th id="Matched_avgOdds" style="width: 10%">Avg. odds matched</th>
        <th id="Matched_dateMatched" style="width: 10%">Date matched</th>
      </tr>
    </tbody>
    <tbody id="Matched_Content">
      <tr
        data-ng-repeat-start="matchBet in matchedbetsList track by matchBet.betId"
      >
        <td class="align-L">
          <label
            >{{matchBet.sport}}<img
              class="fromto"
              src="images/transparent.gif"
              alt="matchbet"
            />
            <strong>{{matchBet.matchName}}</strong
            ><img
              class="fromto"
              src="images/transparent.gif"
              alt="load"
            />{{matchBet.marketName}}</label
          >
        </td>
        <td>{{matchBet.selection}}</td>
        <td>
          <span class="{{matchBet.type.toLowerCase()}}">{{matchBet.type}}</span>
        </td>
        <td>
          <a
            data-ng-click="betDetails(matchBet.betId)"
            href="javascript: void(0);"
            >{{matchBet.betId}}</a
          >
        </td>
        <td><span class="small-date">{{matchBet.placedDate}}</span></td>
        <td>{{matchBet.odds}}</td>
        <td>{{matchBet.matchedStake}}</td>
        <!-- <td style="display: none;">Unmatched </td> -->
        <td>{{matchBet.avgOdds}}</td>
        <td><span class="small-date">{{matchBet.dateMatched}}</span></td>
      </tr>
      <tr
        data-ng-repeat-end
        id="bet_{{matchBet.betId}}"
        class="expand"
        style="display: none"
      >
        <td colspan="3"></td>
        <td colspan="7">
          <img
            class="expand-arrow"
            src="images/transparent.gif"
            alt="loading"
          />
          <table style="text-align: right">
            <tbody>
              <tr>
                <th>Bet taken</th>
                <th style="width: 16%">Odds req.</th>
                <th style="width: 17%">Stake</th>
                <th style="width: 24%">Liability</th>
                <th style="width: 24%">Odds matched</th>
              </tr>
              <tr class="even">
                <td>
                  <span class="small-date">{{matchBet.dateMatched}}</span>
                </td>
                <td>{{matchBet.odds}}</td>
                <td>{{matchBet.matchedStake}}</td>
                <td>--</td>
                <td>{{matchBet.avgOdds}}</td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
      <tr data-ng-if="matchedbetsList.length==0" style="display: table-row">
        <td class="no-data" colspan="9">
          <p>You have no bets in this time period.</p>
        </td>
      </tr>
    </tbody>
  </table>
  <table style="display: none">
    <tbody>
      <tr style="display: none">
        <td class="no-data" colspan="9">
          <p>You have no bets in this time period.</p>
        </td>
      </tr>
    </tbody>
  </table>
</div>
