<style type="text/css">
  table tr td {
    font-size: 12px;
  }
</style>

<!-- Left Column -->
<div class="col-left">
  <!-- Sub Menu and Path -->
  <div class="sub_path">
    <!-- Path -->
    <div class="path">
      <!--<a href="#path-pop" class="path-back">...</a>-->
      <ul>
        <li class="path-last"><a href="javascript:void(0)">My Account</a></li>
      </ul>
    </div>
    <!-- Path Pop Up-->
    <ul id="path-pop" class="path-pop"></ul>
    <!-- Sub Menu -->
    <ul class="menu-list">
      <li><a id="sub_menu_detail" href="#!homeAccount">My Profile</a></li>
      <li>
        <a id="sub_menu_summary" href="#!balance_Overview">Balance Overview</a>
      </li>
      <li>
        <a id="sub_menu_accountCashStatement_log" href="#!accountStatement"
          >Account Statement</a
        >
      </li>
      <!-- <li><a id="sub_menu_accountCashStatement_log" href="#!casinoreport">Casino Report</a></li> -->
      <li>
        <a id="sub_menu_my_bets" href="#!mybets" class="select">My Bets</a>
      </li>
      <li>
        <a id="sub_menu_activity_log" href="#!loghistory">Activity Log</a>
      </li>
    </ul>
  </div>
</div>
<!-- Center Column -->
<div class="col-center report">
  <!-- Loading Wrap -->
  <div id="loading" class="loading-wrap" style="display: none">
    <ul class="loading">
      <li><img src="images/loading40.gif" alt="loading" /></li>
      <li>Loading...</li>
    </ul>
  </div>
  <!-- Message -->
  <div class="message-wrap success">
    <a class="btn-close">Close</a>
    <p></p>
  </div>

  <!-- Message -->
  <div class="message-wrap success">
    <a class="btn-close" href="javascript:history.back()">Close</a>
    <p>Your cash out was successful !</p>
  </div>
  <h2>My Bets</h2>
  <ul class="tab col3">
    <li><a href="#!mybets">Current Bets</a></li>
    <li><a href="#!betsHistory">Bets History</a></li>
    <li><a class="select" href="#!profitLoss">Profit &amp; Loss</a></li>
  </ul>
  <!-- Account Info -->
  <div class="white-wrap">
    <h3>Profit &amp; Loss - Main wallet</h3>
    <ul class="acc-info">
      <li class="user">{{name}} ({{uName}})</li>
      <li class="time">{{currentDate}}</li>
    </ul>
    <!-- function -->
    <div class="function-wrap">
      <ul class="input-list">
        <div id="statusCondition" style="display: none">
          <li><label>Bet Status:</label></li>
          <li>
            <select name="betStatus" id="betStatus"></select>
          </li>
        </div>
        <li><label>Period</label></li>
        <li>
          <input
            id="startDate"
            class="cal-input"
            type="text"
            placeholder="YYYY-MM-DD"
            style="width: 150px"
          />
          <!-- <input  disabled="" class="time-input disable" type="text" placeholder="09:00"> -->
          to
          <input
            id="endDate"
            class="cal-input"
            type="text"
            placeholder="YYYY-MM-DD"
            style="width: 150px"
          />
          <!-- <input id="endTime" disabled="" class="time-input disable" type="text" placeholder="08:59"> -->
        </li>
        <li style="display: none">(TimeZone:IST)</li>
      </ul>
      <ul class="input-list">
        <li>
          <a
            id="today"
            href="javascript:void(0)"
            data-ng-click="getProfitLossDate('today')"
            class="btn"
            >Just For Today</a
          >
        </li>
        <li>
          <a
            id="yesterday"
            href="javascript:void(0)"
            data-ng-click="getProfitLossDate('yesterday')"
            class="btn"
            >From Yesterday</a
          >
        </li>
        <li>
          <a
            id="getPL"
            href="javascript:void(0)"
            data-ng-click="getProfitLoss()"
            class="btn-send"
            >Get P &amp; L</a
          >
        </li>
      </ul>
    </div>
    <!-- No Report Message -->
    <div id="noReportMessage" data-ng-if="getProfitLossList.length==0">
      <p>
        Betting Profit &amp; Loss enables you to review the bets you have
        placed. <br />Specify the time period during which your bets were
        placed, the type of markets on which the bets were placed, and the
        sport.
      </p>
      <p>
        Betting Profit &amp; Loss is available online for the past 3 months.
      </p>
    </div>

    <!-- function end-->
  </div>
  <!-- Report Table -->

  <div
    data-report="profitAndLossReport"
    data-ng-if="getProfitLossList.length!=0"
  >
    <ul class="total-show">
      <li>
        Total P/L:
        <span data-ng-class="(total<0)?'red':'green'"
          >{{total | number : 2}}</span
        >
      </li>
      <!-- <li id="sumOfQuery" class="sports-switch">{{total}}</li> -->
      <li class="sports-switch">
        <select name="sports">
          <option value="0">All</option>
        </select>
      </li>
    </ul>
    <table class="table01" style="font-size: 13px">
      <tbody>
        <tr>
          <th class="align-L">Market</th>
          <th style="width: 15%">Start Time</th>
          <th style="width: 15%">Settled date</th>
          <th style="width: 18%">Profit/Loss</th>
        </tr>
        <tr data-ng-repeat-start="getPnL in getProfitLossList track by $index">
          <td class="align-L">
            {{getPnL.market.split('>')[0]}}<img
              class="fromto"
              src="images/transparent.gif"
              alt="getpnl"
            /><strong>{{getPnL.market.split('>')[1]}}</strong
            ><img
              class="fromto"
              src="images/transparent.gif"
              alt="fromto"
            />{{getPnL.market.split('>')[2]}}
          </td>
          <td>{{getPnL.startDate}}</td>
          <td>{{getPnL.settleDate}}</td>
          <td>
            <a
              id="pl_{{$index}}"
              class="expand-close"
              href="javascript: void(0);"
              data-ng-click="betDetails($index)"
              ><span data-ng-class="(getPnL.pnl<0)?'red':'green'"
                >{{getPnL.pnl | number:2}}</span
              ></a
            >
          </td>
        </tr>
        <tr
          data-ng-repeat-end
          id="pnl_{{$index}}"
          class="expand"
          style="display: none"
        >
          <td colspan="4">
            <img
              class="expand-arrow-R"
              src="images/transparent.gif"
              alt="tab"
            />
            <table class="table-commission" style="text-align: right">
              <tbody>
                <tr>
                  <th style="width: 9%">Bet ID</th>
                  <th>Selection</th>
                  <th
                    data-ng-if="getPnL.market.split('>')[2]!='Match Odds'"
                    style="width: 9%"
                  >
                    Score
                  </th>
                  <th style="width: 9%">Odds</th>
                  <th style="width: 13%">Stake</th>
                  <th style="width: 8%">Type</th>
                  <th style="width: 16%">Placed</th>
                  <th style="width: 23%">Profit/Loss</th>
                </tr>
                <tr
                  data-ng-repeat="pnl in getPnL.bets.data track by $index"
                  class="even"
                >
                  <td>{{pnl.betId}}</td>
                  <td>{{pnl.selection}}</td>
                  <td data-ng-if="getPnL.market.split('>')[2]!='Match Odds'">
                    {{pnl.score}}
                  </td>
                  <td>{{pnl.odds}}</td>
                  <td>{{pnl.stake}}</td>
                  <td>
                    <span data-ng-class="(pnl.type=='BACK'|| pnl.type=='YES')?'back':'lay'"
                      >{{pnl.type}}</span
                    >
                  </td>
                  <td>{{pnl.placed}}</td>
                  <td>
                    <span data-ng-class="(pnl.pnl<0)?'red':'green'"
                      >{{pnl.pnl | number:2}}</span
                    >
                  </td>
                </tr>
                <tr class="sum-pl">
                  <td colspan="8">
                    <dl>
                      <dt>Total Stakes</dt>
                      <dd id="totalStakes">
                        <span
                          data-ng-class="(getPnL.bets.totalStakes<0)?'red':'green'"
                          >{{(getPnL.bets.totalStakes==null)?'-':getPnL.bets.totalStakes}}</span
                        >
                      </dd>
                      <dt>Back subtotal</dt>
                      <dd>
                        <span
                          data-ng-class="(getPnL.bets.backTotal<0)?'red':'green'"
                          >{{getPnL.bets.backTotal | number:2}}</span
                        >
                      </dd>
                      <dt>Lay subtotal</dt>
                      <dd>
                        <span
                          data-ng-class="(getPnL.bets.layTotal<0)?'red':'green'"
                          >{{getPnL.bets.layTotal | number:2}}</span
                        >
                      </dd>
                      <dt>Market subtotal</dt>
                      <dd>
                        <span
                          data-ng-class="(getPnL.bets.mktTotal<0)?'red':'green'"
                          >{{getPnL.bets.mktTotal | number:2}}</span
                        >
                      </dd>
                      <dt>Commission</dt>
                      <dd>
                        <span data-ng-class="(getPnL.bets.comm<0)?'red':'green'"
                          >{{(getPnL.bets.comm==null ||
                          getPnL.bets.comm=='')?'--':getPnL.bets.comm |
                          number:2}}</span
                        >
                      </dd>
                      <dt class="net_total">Net Market Total</dt>
                      <dd class="net_total">
                        <span
                          data-ng-class="(getPnL.bets.netMktTotal<0)?'red':'green'"
                          >{{getPnL.bets.netMktTotal | number:2}}</span
                        >
                      </dd>
                    </dl>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
    <p class="table-other">Profit and Loss is shown net of commission.</p>
    <!-- <script type="text/javascript" src="/js/util/PageUtil.js?v=20180111_1515639000000"></script> -->
    <div>
      <ul style="display: none">
        <li><a href="javascript:void(0);">Prev</a></li>
        <li><a href="javascript:void(0);">Next</a></li>
        <li><a href="javascript:void(0);"></a></li>
        <li><a href="javascript:void(0);">...</a></li>
      </ul>
      <ul class="pages"></ul>
    </div>
  </div>
  <!-- Report Table -->
  <div data-report="profitAndLossReport" style="display: none">
    <ul class="total-show">
      <li></li>
      <li id="sumOfQuery" class="sports-switch"></li>
      <li class="sports-switch">
        <select name="sports">
          <option value="0">All</option>
        </select>
      </li>
    </ul>
    <table id="tableTemplate" class="table01" style="display: none">
      <tbody>
        <tr>
          <th class="align-L">Market</th>
          <th style="width: 15%">Start Time</th>
          <th style="width: 15%">Settled date</th>
          <th style="width: 18%">Profit/Loss</th>
        </tr>
        <tr id="summaryTemplate" style="display: none">
          <td class="align-L"></td>
          <td></td>
          <td></td>
          <td>
            <a id="pl" class="expand-close" href="javascript: void(0);"></a>
          </td>
        </tr>
        <tr id="detailTemplate" class="expand" style="display: none">
          <td colspan="4">
            <img
              class="expand-arrow-R"
              src="images/transparent.gif"
              alt="load"
            />
            <table class="table-commission">
              <tbody>
                <tr>
                  <th style="width: 9%">Bet ID</th>
                  <th>Selection</th>
                  <th style="width: 9%">Odds</th>
                  <th style="width: 13%">Stake</th>
                  <th style="width: 8%">Type</th>
                  <th style="width: 16%">Placed</th>
                  <th style="width: 23%">Profit/Loss</th>
                </tr>
                <tr id="txTemplate" style="display: none">
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td><span></span></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr class="sum-pl">
                  <td colspan="7">
                    <dl>
                      <dt>Back subtotal</dt>
                      <dd></dd>
                      <dt>Lay subtotal</dt>
                      <dd></dd>
                      <dt>Market subtotal</dt>
                      <dd></dd>
                      <dt>Commission</dt>
                      <dd></dd>
                      <dt class="net_total">Net Market Total</dt>
                      <dd class="net_total"></dd>
                    </dl>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
    <p class="table-other">Profit and Loss is shown net of commission.</p>
    <!-- <script type="text/javascript" src="/js/util/PageUtil.js?v=20180111_1515639000000"></script> -->
    <div>
      <ul style="display: none">
        <li id="prev"><a href="javascript:void(0);">Prev</a></li>
        <li id="next"><a href="javascript:void(0);">Next</a></li>
        <li id="pageNumber"><a href="javascript:void(0);"></a></li>
        <li id="more"><a href="javascript:void(0);">...</a></li>
      </ul>
      <ul id="pageNumberContent" class="pages"></ul>
    </div>
  </div>
</div>

<script>
  $(function () {
    $("#startDate").datetimepicker({
      format: "Y-m-d H:i:s",
    });
    $("#endDate").datetimepicker({
      format: "Y-m-d H:i:s",
    });
  });
</script>
