<div class="row margin-top">
        <div class="col-lg-3">
           <div class="ibox float-e-margins">
               <div class="ibox-title">
                   <h5>Total Session Bets Count</h5>
               </div>
               <div class="ibox-content">
                   <h1 class="no-margins">75</h1>
               </div>
           </div>
       </div>
       <div class="col-lg-3">
           <div class="ibox float-e-margins">
               <div class="ibox-title">
                   <h5>Settled Session Bets Count</h5>
               </div>
               <div class="ibox-content">
                   <h1 class="no-margins">75</h1>
               </div>
           </div>
       </div>

       <div class="col-lg-3">
           <div class="ibox float-e-margins">
               <div class="ibox-title">
                   <h5>Unsettled Session Bets Count</h5>
               </div>
               <div class="ibox-content">
                   <h1 class="no-margins">0</h1>
               </div>
           </div>
       </div>

       <div class="col-lg-3">
           <div class="ibox float-e-margins">
               <div class="ibox-title">
                   <h5>Reverted Session Bets Coun</h5>
               </div>
               <div class="ibox-content">
                   <h1 class="no-margins">0</h1>
               </div>
           </div>
       </div>
      
       
</div>
<div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
           <div class="col-lg-12">
              <div class="ibox float-e-margins">
                 <div class="ibox-title">
                    <h5>Match Session Bet Slips</h5>
                    <div class="ibox-tools">
                    </div>
                 </div>
                 <div class="ibox-content table-responsive">
                    <table class="table">
                       <thead>
                          <tr>
                             <th>Bet ID</th>
                             <th>Runner Name</th>
                             <th>User Name</th>
                             <th>RATE</th>
                             <th>RUNS</th>
                             <th>Action</th>
                             <th>Actual Share</th>
                             <th>Coins Credited</th>
                             <th>Coins Debited</th>
                             <th>Status</th>
                             <!-- <th>Stake</th> -->
                          </tr>
                       </thead>
                       <tbody>
                          <tr>
                             
                             <td>15280326</td>
                             <td> 
                                4th WKT,Trinbago Knight Riders	
                             </td>
                             <td>sp321</td>
                             <td>0.9
                             </td><td>64</td>
                             <td>Yes</td>
                             <td>10.0</td>
                             <td>50.0</td>
                             <td>0.0</td>
                             <td>settle</td>
                             <!-- <td></td> -->
                          </tr>
                       </tbody>
                    </table>
                 </div>
     
                                   
     
              </div>
           </div>
        </div>
     </div>