<div class="wrapper wrapper-content">
        <div class="row">
          <div class="col-lg-12">
            <div class="ibox float-e-margins">
              <div class="ibox-title">
                <h5>Betting</h5>
              </div>
              <div class="ibox-content-list table-responsive" >
                    <mat-nav-list>
                        <mat-list-item [routerLink]="'sportlist'">
                            <i matListIcon class="fa fa-soccer-ball-o"></i>
                            <h3 matLine>Sports List</h3>
                        </mat-list-item>
                        <mat-divider></mat-divider>
                        <mat-list-item [routerLink]="'tournamentlist'">
                              <i matListIcon class="fa fa-soccer-ball-o"></i>
                              <h3 matLine>Tournament List</h3>
                        </mat-list-item>
                        <mat-divider></mat-divider>
                        <mat-list-item [routerLink]="'matchlist'">
                              <i matListIcon class="fa fa-soccer-ball-o"></i>
                              <h3 matLine>Match List</h3>
                        </mat-list-item>
                        <mat-divider></mat-divider>
                        <mat-list-item [routerLink]="'marketlist'">
                              <i matListIcon class="fa fa-soccer-ball-o"></i>
                              <h3 matLine>Market List</h3>
                        </mat-list-item>
                    </mat-nav-list>
              </div>
            </div>
          </div>
        </div>
      </div>