<div class="wrapper wrapper-content">
        <div class="row">
          <div class="col-lg-12">
            <div class="ibox float-e-margins">
              <div class="ibox-title">
                <h5>News Ticker</h5>
              </div>
              <div class="ibox-content-table table-responsive">
                  <div class="search-div">
                      <mat-form-field class="search-form-field" floatLabel="never">
                        <input matInput id="filter-text-box" placeholder="Search" autocomplete="off" (keyup)="onFilterTextBoxChanged()">
                      </mat-form-field>
                      <button class="create-button" mat-raised-button [routerLink]="'addnews'">
                        Add Ticker
                      </button>
                    </div>
                    <div class="table-container mat-elevation-z8">
                        <ag-grid-angular 
                          style="width: 100%; height: 450px"
                          class="ag-theme-balham"
                          [gridOptions]="gridOptions"
                          [rowData]="rowData" 
                          [overlayLoadingTemplate]="overlayLoadingTemplate"
                          [overlayNoRowsTemplate]="overlayNoRowsTemplate"
                          [animateRows]="true"
                          [pagination]="true"
                          (gridReady)="onGridReady($event)"
                          >
                        </ag-grid-angular>
                    </div>
              </div>
            </div>
          </div>
        </div>
      </div>