<div class="row margin-top">
  <div class="col-lg-3">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h5>Total Session Bets</h5>
      </div>
      <div class="ibox-content">
        <h1 class="no-margins">{{ rowData.length }}</h1>
      </div>
    </div>
  </div>

  <div class="col-lg-3">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h5>Settled Session Bets</h5>
      </div>
      <div class="ibox-content">
        <h1 class="no-margins">{{ rowData.length }}</h1>
      </div>
    </div>
  </div>

  <div class="col-lg-3">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h5>Unsettled Session Bets</h5>
      </div>
      <div class="ibox-content">
        <h1 class="no-margins">0</h1>
      </div>
    </div>
  </div>

  <div class="col-lg-3">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h5>Reverted Session Bets</h5>
      </div>
      <div class="ibox-content">
        <h1 class="no-margins">0</h1>
      </div>
    </div>
  </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <!-- <div class="col-sm-5 m-b-xs">
       <select class="input-sm form-control input-s-sm inline" id="user_ids" name="user_id" style="height: 34px;"><option value="">All Users</option><option value="2961">sp2961</option>
        <option value="2962">sp2962</option>
       </select>
     </div>
     <div class="col-sm-5 m-b-xs">
        <select class="input-sm form-control input-s-sm inline" id="session_ids" name="model[field]" style="height: 34px;">
            <option value="">All Sessions</option>
            <option value="14652">50 Overs Lambi,Western Australia</option>
            <option value="14653">10 Overs,Western Australia</option>
        </select>
      
     </div> -->
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Session Bet Slip - {{ title }}</h5>
          <div class="ibox-tools"></div>
        </div>
        <div class="ibox-content table-responsive">
          <div class="search-div">
            <mat-form-field class="search-form-field" floatLabel="never">
              <input
                matInput
                placeholder="Search"
                autocomplete="off"
                [(ngModel)]="searchValue"
              />
            </mat-form-field>
            <div style="float: right; padding: 0px 10px 0px 0px">
              <button
                matNativeControl
                class="btn btn-outline-success waves-effect waves-light"
                type="button"
                excelDwd
              >
                <span class="mr-1"><i class="fa fa-file-excel-o"></i></span>
              </button>
            </div>
          </div>
          <div class="table-container mat-elevation-z8">
            <ag-grid-angular
              style="width: 100%; height: 450px"
              class="ag-theme-balham"
              [gridOptions]="gridOptions"
              [rowData]="rowData"
              [overlayLoadingTemplate]="overlayLoadingTemplate"
              [overlayNoRowsTemplate]="overlayNoRowsTemplate"
              [animateRows]="true"
              (gridSizeChanged)="onGridSizeChanged($event)"
              (gridReady)="onGridReady($event)"
              [quickFilterText]="searchValue"
            >
            </ag-grid-angular>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
