<!-- <mat-card class="main-card"> -->
<!-- <div class="row">
                <div class="col-xs-12 col-md-4 col-sm-6">
                  <div class="card bm-card-10 bg-2 border-0 bg-blue o-hidden mb-4">
                    <div class="card-body text-center">
                      <div class="content">
                        <i class="icon-tag text-white text-50"></i>
                        <p
                          class="text-white text-25 font-family-1 font-weight-500 line-height-1 mt-2 mb-1"
                        >
                          SST3
                        </p>
                        <hr />
                        <p
                          class="text-white text-13 font-family-1 font-weight-500 line-height-1 mt-0 mb-0 "
                        >
                        MY USERNAME
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xs-12 col-md-4 col-sm-6">
                  <div class="card bm-card-10 bg-2 border-0 bg-blue o-hidden mb-4">
                    <div class="card-body text-center">
                      <div class="content">
                        <i class="icon-tag text-white text-50"></i>
                        <p
                          class="text-white text-25 font-family-1 font-weight-500 line-height-1 mt-2 mb-1"
                        >
                          Company
                        </p>
                        <hr />
                        <p
                          class="text-white text-13 font-family-1 font-weight-500 line-height-1 mt-0 mb-0 "
                        >
                        MY LEVEL
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xs-12 col-md-4 col-sm-6">
                  <div class="card bm-card-10 bg-2 border-0 bg-blue o-hidden mb-4">
                    <div class="card-body text-center">
                      <div class="content">
                        <i class="icon-tag text-white text-50"></i>
                        <p
                          class="text-white text-25 font-family-1 font-weight-500 line-height-1 mt-2 mb-1"
                        >
                        2000000.0
                        </p>
                        <hr />
                        <p
                          class="text-white text-13 font-family-1 font-weight-500 line-height-1 mt-0 mb-0 "
                        >
                        MY FIX LIMIT
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12 col-md-4 col-sm-6">
                  <div class="card bm-card-10 bg-2 border-0 bg-blue o-hidden mb-4">
                    <div class="card-body text-center">
                      <div class="content">
                        <i class="icon-tag text-white text-50"></i>
                        <p
                          class="text-white text-25 font-family-1 font-weight-500 line-height-1 mt-2 mb-1"
                        >
                          20000000.00
                        </p>
                        <hr />
                        <p
                          class="text-white text-13 font-family-1 font-weight-500 line-height-1 mt-0 mb-0 "
                        >
                        Balance
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xs-12 col-md-4 col-sm-6">
                  <div class="card bm-card-10 bg-2 border-0 bg-blue o-hidden mb-4">
                    <div class="card-body text-center">
                      <div class="content">
                        <i class="icon-tag text-white text-50"></i>
                        <p
                          class="text-white text-25 font-family-1 font-weight-500 line-height-1 mt-2 mb-1"
                        >
                        2.0 
                        </p>
                        <hr />
                        <p
                          class="text-white text-13 font-family-1 font-weight-500 line-height-1 mt-0 mb-0 "
                        >
                        Match Commission
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xs-12 col-md-4 col-sm-6">
                  <div class="card bm-card-10 bg-2 border-0 bg-blue o-hidden mb-4">
                    <div class="card-body text-center">
                      <div class="content">
                        <i class="icon-tag text-white text-50"></i>
                        <p
                          class="text-white text-25 font-family-1 font-weight-500 line-height-1 mt-2 mb-1"
                        >
                        2.0 
                        </p>
                        <hr />
                        <p
                          class="text-white text-13 font-family-1 font-weight-500 line-height-1 mt-0 mb-0 "
                        >
                        Session Commission
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xs-12 col-md-4 col-sm-6">
                  <div class="card bm-card-10 bg-2 border-0 bg-blue o-hidden mb-4">
                    <div class="card-body text-center">
                      <div class="content">
                        <i class="icon-tag text-white text-50"></i>
                        <p
                          class="text-white text-25 font-family-1 font-weight-500 line-height-1 mt-2 mb-1"
                        >
                        20.0% 
                        </p>
                        <hr />
                        <p
                          class="text-white text-13 font-family-1 font-weight-500 line-height-1 mt-0 mb-0 "
                        >
                        Minimum Company Share
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xs-12 col-md-4 col-sm-6">
                  <div class="card bm-card-10 bg-2 border-0 bg-blue o-hidden mb-4">
                    <div class="card-body text-center">
                      <div class="content">
                        <i class="icon-tag text-white text-50"></i>
                        <p
                          class="text-white text-25 font-family-1 font-weight-500 line-height-1 mt-2 mb-1"
                        >
                        80.0% 
                        </p>
                        <hr />
                        <p
                          class="text-white text-13 font-family-1 font-weight-500 line-height-1 mt-0 mb-0 "
                        >
                        Maximum My Share
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div> -->
<div class="wrapper wrapper-content" *ngIf="userinfo">
  <div class="row">
    <div class="col-lg-4">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>MY USERNAME</h5>
        </div>
        <div class="ibox-content">
          <h1 class="no-margins">{{ userinfo.myLevel }}</h1>
          <small>{{ userinfo.userName }}</small>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>MY LEVEL</h5>
        </div>
        <div class="ibox-content">
          <h1 class="no-margins">
            <span
              class="translation_missing"
              title="translation missing: en.super stockist"
              >{{ userinfo.myLevel }}</span
            >
          </h1>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>CURRENCY</h5>
        </div>
        <div class="ibox-content">
          <h1 class="no-margins">
            <span
              class="translation_missing"
              title="translation missing: en.super stockist"
              >{{ currency }}</span
            >
          </h1>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <!-- <div class="col-lg-4">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>MY FIX LIMIT</h5>
        </div>
        <div class="ibox-content">
          <h1 class="no-margins">{{ userinfo.fixLimit | number: "1.2-2" }}</h1>
        </div>
      </div>
    </div> -->
    <div class="col-lg-4">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Balance</h5>
        </div>
        <div class="ibox-content">
          <h1 class="no-margins">{{ userinfo.balance | number: "1.2-2" }}</h1>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Your Position</h5>
        </div>
        <div class="ibox-content">
          <div>
            <span class="dashboardSpanHeading">Yesterday's PnL : </span>
            <span [ngClass]="userData.totalProfitNLoss >= 0 ? 'profit' : 'loss'">{{ userData.totalProfitNLoss | number: "1.2-2" }}</span>
          </div>
          <div>
            <span class="dashboardSpanHeading">Net Settlement Amount : </span>
            <span [ngClass]="userData.netSettlementAmount>=0 ? 'text-success' :'text-danger'">{{ userData.netSettlementAmount | number:"1.2-2" }}</span>
          </div>
          <div>
            <span class="dashboardSpanHeading">Total Current Exposure : </span>
            <span [ngClass]="userData.totalCurrentExpo>=0 ? 'text-success' : 'text-danger'">{{ userData.totalCurrentExpo | number:"1.2-2" }}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Minimum Company Share</h5>
        </div>
        <div class="ibox-content">
          <!-- <h1 class="no-margins">{{(userinfo.maxMyShare!=100)?100-userinfo.maxMyShare:userinfo.maxMyShare}}%</h1> -->
          <h1 class="no-margins">{{ userinfo.minCompanyShare }}%</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4" *ngIf="userinfo.mLossingComm != 0">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Match Losing Commission</h5>
        </div>
        <div class="ibox-content">
          <h1 class="no-margins">{{ userinfo.mLossingComm }}</h1>
        </div>
      </div>
    </div>
    <div class="col-lg-4" *ngIf="userinfo.sLossingComm != 0">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Session Losing Commission</h5>
        </div>
        <div class="ibox-content">
          <h1 class="no-margins">{{ userinfo.sLossingComm }}</h1>
        </div>
      </div>
    </div>
    <div class="col-lg-4" *ngIf="userinfo.sessionComm != 0">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Session Transaction Commission</h5>
        </div>
        <div class="ibox-content">
          <h1 class="no-margins">{{ userinfo.sessionComm }}</h1>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- </mat-card> -->
