<mat-card class="main-card">
  <!-- <div class="search-div">
          <mat-form-field class="search-form-field" floatLabel="never">
            <input matInput [(ngModel)]="searchKey" placeholder="Search" autocomplete="off" (keyup)="applyFilter()">
            <button mat-button matSuffix mat-icon-button aria-label="Clear"*ngIf="searchKey"  (click)="onSearchClear()">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
          <div class="download-buttons">
                <button mat-mini-fab ><i class="fa fa-file-pdf-o"></i></button>
                <button mat-mini-fab ><i class="fa fa-file-excel-o"></i></button>
        </div>
        </div> -->
  <div class="table-container mat-elevation-z8">
    <!-- <mat-table [dataSource]="listData"  matSort>
            <ng-container matColumnDef="chanelogID">
              <mat-header-cell *matHeaderCellDef  mat-sort-header>ID</mat-header-cell>
              <mat-cell *matCellDef="let element">{{element.chanelogID}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="discription">
              <mat-header-cell *matHeaderCellDef  mat-sort-header>Discription</mat-header-cell>
              <mat-cell *matCellDef="let element">{{element.discription}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="coins">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Coins</mat-header-cell>
              <mat-cell *matCellDef="let element" class="profit"><b>{{element.coins}}</b></mat-cell>
            </ng-container>
            <ng-container matColumnDef="matchcommission">
              <mat-header-cell *matHeaderCellDef mat-sort-header>M.Comm</mat-header-cell>
              <mat-cell *matCellDef="let element" >{{element.matchcommission}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="sessioncommission">
              <mat-header-cell *matHeaderCellDef mat-sort-header>S.Comm</mat-header-cell>
              <mat-cell *matCellDef="let element" >{{element.sessioncommission}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="createdAt">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Created</mat-header-cell>
              <mat-cell *matCellDef="let element" >{{element.createdAt}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="loading">
              <mat-footer-cell *matFooterCellDef colspan="6">
                Loading data...
              </mat-footer-cell>
            </ng-container>
            <ng-container matColumnDef="noData">
              <mat-footer-cell *matFooterCellDef colspan="6">
                No data.
              </mat-footer-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide':listData!=null}"></mat-footer-row>
            <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide':!(listData!=null && listData.data.length==0)}"></mat-footer-row>
          </mat-table>
          <mat-paginator [pageSizeOptions]="[50, 100, 250, 1000]" [pageSize]="50" showFirstLastButtons></mat-paginator> -->
    <div class="Table-Title">
      <mat-form-field class="search-form-field" floatLabel="never">
        <input
          matInput
          id="filter-text-box"
          placeholder="Search"
          autocomplete="off"
          (keyup)="onFilterTextBoxChanged()"
        />
      </mat-form-field>
      <mat-form-field class="select-page-size">
        <mat-label>Page Size</mat-label>
        <select
          matNativeControl
          (change)="onPageSizeChanged($event)"
          id="page-size"
        >
          <option value="50">50</option>
          <option value="100">100</option>
          <option value="500">500</option>
          <option value="1000">1000</option>
        </select>
      </mat-form-field>
      <div style="float: right; padding: 0px 10px 0px 0px;">
        <button
          matNativeControl
          class="btn btn-outline-success waves-effect waves-light"
          type="button"
          excelDwd
        >
          <span class="mr-1"><i class="fa fa-file-excel-o"></i></span>
        </button>
      </div>
    </div>
    <ag-grid-angular
      style="width: 100%; height: 450px;"
      class="ag-theme-balham"
      [gridOptions]="gridOptions"
      [rowData]="rowData"
      [overlayLoadingTemplate]="overlayLoadingTemplate"
      [overlayNoRowsTemplate]="overlayNoRowsTemplate"
      [animateRows]="true"
      [pagination]="true"
      (gridReady)="onGridReady($event)"
    >
    </ag-grid-angular>
  </div>
</mat-card>
