<div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
           <div class="col-lg-12">
              <div class="ibox float-e-margins">
                 <div class="ibox-title">
                    <h5>Match Settlement Details</h5>
                 </div>
                 <div class="ibox-content table-responsive">
                    <table class="table table-bordered table-striped">
                       <thead>
                          <tr>
                             <th>Heroic Market Type</th>
                             <th>System Turnover</th>
                             <th>System Earnings With Commission</th>
                                <th>System Commission Percentage</th>
                                <th>System Commission</th>
                             <th>System Earnings</th>
                             <th>System Earnings Of Agent</th>
                             <th>System Earnings Of Parent Agent</th>
                             <th>Agent Turnover Responsibility</th>
                             <th>Agent Earnings Responsibility With Commission</th>
                                <th>Agent Commission Percentage</th>
                                <th>Agent Commission Responsibility</th>
                             <th>Agent Earnings Responsibility</th>
                          </tr>
                       </thead>
                       <tbody>
                             <tr>
                                <td>
                                      EVEN_ODD
                                </td>
                                <td>1200.0</td>
                                <td>420.0</td>
                                   <td>2.0</td>
                                   <td>8.4</td>
                                <td>411.6</td>
                                <td>41.16</td>
                                <td>370.44</td>
                                <td>1200.0</td>
                                <td>420.0</td>
                                   <td>0.0</td>
                                   <td>0.0</td>
                                <td>420.0</td>
                             </tr>
                             <tr>
                                <td>
                                      ENDING_DIGIT
                                </td>
                                <td>12949.0</td>
                                <td>5349.0</td>
                                   <td>2.0</td>
                                   <td>106.98</td>
                                <td>5242.02</td>
                                <td>524.2</td>
                                <td>4717.82</td>
                                <td>12949.0</td>
                                <td>5349.0</td>
                                   <td>0.0</td>
                                   <td>0.0</td>
                                <td>5349.0</td>
                             </tr>
                             <tr>
                                <td>
                                      SESSION
                                </td>
                                <td>46600.0</td>
                                <td>-4670.0</td>
                                   <td>2.0</td>
                                   <td>0.0</td>
                                <td>-4670.0</td>
                                <td>-467.0</td>
                                <td>-4203.0</td>
                                <td>46600.0</td>
                                <td>-4670.0</td>
                                   <td>0.1</td>
                                   <td>0.0</td>
                                <td>-4670.0</td>
                             </tr>
                       </tbody>
                       <tfoot>
                          <tr>
                             <th>Total
                             </th><th>
                             </th><th>
                                </th><th>
                                </th><th>
                             </th><th>983.62
                             </th><th>98.36
                             </th><th>885.26
                             </th><th>
                             </th><th>
                                </th><th>
                                </th><th>
                             </th><th>
                          </th></tr>
                       </tfoot>
                    </table>
                 </div>
              </div>
           </div>
        </div>
     </div>