<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>New Book Maker</h5>
                </div>

                <div class="ibox-content-form table-responsive">


                    <form [formGroup]="bookForm" (ngSubmit)="bookForm.valid && onSubmit()" class="form-horizontal">
                        <div class="form form-horizontal">
                            <div class="form-body">
                                <div class="form-group row">
                                    <label class="col-md-2 label-control">Book Type <span
                                            class="danger">*</span></label>
                                    <div class="col-md-3">
                                        <select formControlName="bookType" (change)="selectBookType()"
                                            class="form-control"
                                            [ngClass]="{ 'is-invalid': f.bookType.invalid && f.bookType.touched}">
                                            <option value="">Select Book Type</option>
                                            <option [ngValue]="bookType" *ngFor="let bookType of bookTypesList">
                                                {{bookType.header}}</option>
                                        </select>
                                        <div *ngIf="f.bookType.invalid && f.bookType.touched" class="invalid-feedback">
                                            <mat-error>This field is mandatory.</mat-error>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-md-2 label-control">Sport Name <span
                                            class="danger">*</span></label>
                                    <div class="col-md-3">
                                        <select formControlName="sport" (change)="GetTournamentList()"
                                            class="form-control"
                                            [ngClass]="{ 'is-invalid': f.sport.invalid && f.sport.touched}">
                                            <option value="">Select Sport</option>
                                            <option [ngValue]="sport" *ngFor="let sport of sportsList">
                                                {{sport.sportName}}</option>
                                        </select>
                                        <div *ngIf="f.sport.invalid && f.sport.touched" class="invalid-feedback">
                                            <mat-error>This field is mandatory.
                                            </mat-error>
                                        </div>
                                    </div>
                                    <div class="col-md-3 top_marg">
                                        <select formControlName="tournament" (change)="getMatchList()"
                                            class="form-control"
                                            [ngClass]="{ 'is-invalid': f.tournament.invalid && f.tournament.touched}">
                                            <option value="">Select Tournament</option>
                                            <option [ngValue]="tournament" *ngFor="let tournament of tournamentList">
                                                {{tournament.tournamentName}}</option>
                                        </select>
                                        <div *ngIf="f.tournament.invalid && f.tournament.touched"
                                            class="invalid-feedback">
                                            <mat-error>This field is mandatory.
                                            </mat-error>
                                        </div>
                                    </div>
                                    <div class="col-md-3 top_marg">
                                        <select formControlName="match" class="form-control"
                                            [ngClass]="{ 'is-invalid': f.match.invalid && f.match.touched}">
                                            <option value="">Select Match</option>
                                            <option [ngValue]="match" *ngFor="let match of matchList">
                                                {{match.matchName}}</option>
                                        </select>
                                        <div *ngIf="f.match.invalid && f.match.touched" class="invalid-feedback">
                                            <mat-error>This field is mandatory.
                                            </mat-error>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-2 label-control">Book Header Name<span
                                            class="danger">*</span></label>
                                    <div class="col-md-3">
                                        <input type="text" appInputRestriction="noSpecialChars" formControlName="headerName" class="form-control"
                                            [ngClass]="{ 'is-invalid': f.headerName.invalid && f.headerName.touched}">
                                        <div *ngIf="f.headerName.invalid && f.headerName.touched"
                                            class="invalid-feedback">
                                            <mat-error>This field is mandatory.</mat-error>
                                        </div>
                                    </div>
                                </div>
                                <!-- <div class="form-group row">
                                    <label class="col-md-2 label-control">Runner 1</label>
                                    <div class="col-md-3">
                                        <input type="text" specialIsAlphaNumeric formControlName="runner1" class="form-control"
                                            [ngClass]="{ 'is-invalid': f.runner1.invalid && f.runner1.touched}">
                                        <div *ngIf="f.runner1.invalid && f.runner1.touched" class="invalid-feedback">
                                            <mat-error>This field is mandatory.
                                            </mat-error>
                                        </div>
                                    </div>
                                    <label class="col-md-2 label-control">Runner 2 </label>
                                    <div class="col-md-3">
                                        <input type="text" specialIsAlphaNumeric formControlName="runner2" class="form-control"
                                            [ngClass]="{ 'is-invalid': f.runner2.invalid && f.runner2.touched}">
                                        <div *ngIf="f.runner2.invalid && f.runner2.touched" class="invalid-feedback">
                                            <mat-error>This field is mandatory.
                                            </mat-error>
                                        </div>
                                    </div>
                                </div> -->
                                <div class="form-group row">
                                    <label class="col-md-2 label-control">Min Rate <span class="danger">*</span></label>
                                    <div class="col-md-3">
                                        <input type="number" formControlName="minRate" appInputRestriction="integer" min="1.01" max="100.00"  class="form-control"
                                            [ngClass]="{ 'is-invalid': f.minRate.invalid && f.minRate.touched}">
                                        <div *ngIf="f.minRate.invalid && f.minRate.touched" class="invalid-feedback">
                                            <mat-error>This field is Invalid (1.01-100.00).</mat-error>
                                        </div>
                                    </div>
                                    <label class="col-md-2 label-control">Max Rate <span class="danger">*</span></label>
                                    <div class="col-md-3">
                                        <input type="number" formControlName="maxRate" appInputRestriction="integer" min="1.01" max="1000.00" class="form-control"
                                            [ngClass]="{ 'is-invalid': f.maxRate.invalid && f.maxRate.touched}">
                                        <div *ngIf="f.maxRate.invalid && f.maxRate.touched" class="invalid-feedback">
                                            <mat-error>This field is Invalid (1.01-1000.00).</mat-error>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-2 label-control">Min Stake <span
                                            class="danger">*</span></label>
                                    <div class="col-md-3">
                                        <input type="number" formControlName="minStake" appInputRestriction="integer" min="1" max="1000000000" class="form-control"
                                            [ngClass]="{ 'is-invalid': f.minStake.invalid && f.minStake.touched}">
                                        <div *ngIf="f.minStake.invalid && f.minStake.touched" class="invalid-feedback">
                                            <mat-error>This field is Invalid (1-1000000000).</mat-error>
                                        </div>
                                    </div>
                                    <label class="col-md-2 label-control">Max Stake <span
                                            class="danger">*</span></label>
                                    <div class="col-md-3">
                                        <input type="number" formControlName="maxStake" appInputRestriction="integer" min="1" max="1000000000" class="form-control"
                                            [ngClass]="{ 'is-invalid': f.maxStake.invalid && f.maxStake.touched}">
                                        <div *ngIf="f.maxStake.invalid && f.maxStake.touched" class="invalid-feedback">
                                            <mat-error>This field is Invalid (1-1000000000).</mat-error>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-2 label-control">Max Profit <span
                                            class="danger">*</span></label>
                                    <div class="col-md-3">
                                        <input type="number" formControlName="maxProfit" appInputRestriction="integer" min="1" max="1000000000" class="form-control"
                                            [ngClass]="{ 'is-invalid': f.maxProfit.invalid && f.maxProfit.touched}">
                                        <div *ngIf="f.maxProfit.invalid && f.maxProfit.touched"
                                            class="invalid-feedback">
                                            <mat-error>This field is Invalid (1-1000000000).</mat-error>
                                        </div>
                                    </div>
                                    <!-- <label class="col-md-2 label-control">Max Loss <span class="danger">*</span></label>
                                    <div class="col-md-3">
                                        <input type="number" class="form-control">
                                    </div> -->
                                </div>

                            </div>
                            <div class="form-group row">
                                <label class="col-md-2 label-control">Rates Different<span
                                        class="danger">*</span></label>
                                <div class="col-md-3">
                                    <input type="number" formControlName="rateDifference" appInputRestriction="integer" min="1" max="100" class="form-control"
                                        [ngClass]="{ 'is-invalid': f.rateDifference.invalid && f.rateDifference.touched}">
                                    <div *ngIf="f.rateDifference.invalid && f.rateDifference.touched"
                                        class="invalid-feedback">
                                        <mat-error>This field is Invalid (1-100).</mat-error>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-2 label-control">maxStakePerRate<span
                                        class="danger">*</span></label>
                                <div class="col-md-3">
                                    <input type="number" formControlName="maxStakePerRate" appInputRestriction="integer" min="1" max="1000000000" class="form-control"
                                        [ngClass]="{ 'is-invalid': f.maxStakePerRate.invalid && f.maxStakePerRate.touched}">
                                    <div *ngIf="f.maxStakePerRate.invalid && f.maxStakePerRate.touched"
                                        class="invalid-feedback">
                                        <mat-error>This field is Invalid (1-1000000000).</mat-error>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-2 label-control">Is Active<span
                                    class="danger">*</span> </label>
                                <div class="col-md-6">
                                    <mat-checkbox class="example-margin" formControlName="isActive">IsActive
                                    </mat-checkbox>
                                </div>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>

                        <div class="form-group col-sm-4 col-sm-offset-2 button-row">
                            <button mat-raised-button color="warn" type="reset" (click)="onCancel()">Cancel</button>
                            <button mat-raised-button color="primary" type="submit"
                                [disabled]="bookForm.invalid">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>