<div class="wrapper wrapper-content animated fadeInRight">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Add Balance</h5>
        </div>
        <div class="ibox-content table-responsive">
          <form class="form-horizontal">
            <div class="form-group">
                <label class="col-lg-2 control-label">Current Balance:</label>
              <div class="col-lg-9"><p class="form-control-static" id="">2698977.32</p></div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Deposit Coins:</label>
              <div class="col-sm-9"><input type="text" id="" name="coins" class="form-control"></div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Note</label>
                <div class="col-sm-9"><textarea id="" name="note" class="form-control"></textarea></div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label">Total Balance:</label>
                <div class="col-lg-9"><p class="form-control-static">45000825.25</p></div>
              </div>
            <div class="form-group">
              <div class="col-sm-9 col-sm-offset-2">
                <button class="btn btn-primary" type="submit">Save Changes</button>
              </div>
            </div>
  </form>      </div>
      </div>
    </div>
  </div>