
        <div class="wrapper wrapper-content animated fadeInRight">
                <div class="row">
                    <div class="col-lg-12 ">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <h5>Match Setting</h5>
                            </div>
                            
                            <div class="ibox-content-form table-responsive">
                                    <div>
                                            <h4 class="card-title" style="text-align: center;"><b>MARKET SETTING</b></h4><hr>
                                            <div class="col-md-12 row">
                                            <div class="col-md-6">
                                            <div class="form-group row ">
                                            <div class="col-md-4">
                                            <label class="label-control" style="float: right;">Market Volume Into<span class="danger">*</span>:</label>
                                            </div>
                                            <div class="col-md-4">
                                            <input class="form-control ng-pristine ng-valid ng-valid-maxlength ng-not-empty ng-touched" type="text" maxlength="4" data-numbers-only="" data-disallow-spaces=""  >
                                            </div>
                                            </div>
                                            <div class="form-group row">
                                            <div class="col-md-4">
                                            <label class="label-control" style="float: right;">Min Rate<span class="danger">*</span>:</label>
                                            </div>
                                            <div class="col-md-4">
                                            <input class="form-control ng-pristine ng-untouched ng-valid ng-valid-min ng-valid-max ng-not-empty" type="number" step="0.01" min="1.01" max="1000" >
                                            </div>
                                            </div>
                                            <div class="form-group row">
                                            <div class="col-md-4">
                                            <label class="label-control" style="float: right;">Min Stake<span class="danger">*</span>:</label>
                                            </div>
                                            <div class="col-md-4">
                                            <input class="form-control ng-pristine ng-untouched ng-valid ng-valid-maxlength ng-not-empty" type="text" data-numbers-only="" data-disallow-spaces="" maxlength="10" >
                                            </div>
                                            </div>
                                            <div class="form-group row">
                                            <div class="col-md-4">
                                            <label class="label-control" style="float: right;">Max Profit<span class="danger">*</span>:</label>
                                            </div>
                                            <div class="col-md-4">
                                            <input type="text" class="form-control ng-pristine ng-untouched ng-valid ng-valid-maxlength ng-not-empty" data-numbers-only="" data-disallow-spaces="" maxlength="10" >
                                            </div>
                                            </div>
                                            <div class="form-group row">
                                            <div class="col-md-4">
                                            <label class="label-control" style="float: right;">MKT Before Inplay Limit<span class="danger">*</span>:</label>
                                            </div>
                                            <div class="col-md-4">
                                            <input type="text" class="form-control ng-pristine ng-untouched ng-valid ng-valid-maxlength ng-not-empty" data-numbers-only="" data-disallow-spaces="" maxlength="10" >
                                            </div>
                                            </div>
                                            <div class="form-group row">
                                            <div class="col-md-4">
                                            <label class="label-control" style="float: right;">isUnMatchedAllowed:</label>
                                            </div>
                                            <div class="col-md-4">
                                            <fieldset class="right-checkbox">
                                            <label class="custom-control custom-checkbox block">
                                            <input type="checkbox" class="custom-control-input ng-pristine ng-untouched ng-valid ng-empty" >
                                            <span class="custom-control-indicator"></span>
                                            <span class="custom-control-description"></span>
                                            </label>
                                            </fieldset>
                                            </div>
                                            </div>
                                            </div>
                                            <div class="col-md-6">
                                            <div class="form-group row">
                                            <div class="col-md-4">
                                            <label class="label-control" style="float: right;">Bet Delay
                                            <span class="danger">*</span>:</label>
                                            </div>
                                            <div class="col-md-4">
                                            <input class="form-control ng-pristine ng-untouched ng-valid ng-valid-maxlength ng-not-empty" type="text" data-numbers-only="" data-disallow-spaces="" maxlength="2"  >
                                            </div>
                                            </div>
                                            <div class="form-group row">
                                            <div class="col-md-4">
                                            <label class="label-control" style="float: right;">Max Rate<span class="danger">*</span>:</label>
                                            </div>
                                            <div class="col-md-4">
                                            <input class="form-control ng-pristine ng-untouched ng-valid ng-valid-min ng-valid-max ng-not-empty" step="0.01" min="1.01" max="1000" type="number" >
                                            </div>
                                            </div>
                                            <div class="form-group row">
                                            <div class="col-md-4">
                                            <label class="label-control" style="float: right;">Max Stake
                                            <span class="danger">*</span>:</label>
                                            </div>
                                            <div class="col-md-4">
                                            <input class="form-control ng-pristine ng-untouched ng-valid ng-valid-maxlength ng-not-empty" type="text" data-numbers-only="" data-disallow-spaces="" maxlength="10" >
                                            </div>
                                            </div>
                                            <div class="form-group row">
                                            <div class="col-md-4">
                                            <label class="label-control" style="float: right;">Max Loss<span class="danger">*</span>:</label>
                                            </div>
                                            <div class="col-md-4">
                                            <input type="text" class="form-control ng-pristine ng-untouched ng-valid ng-valid-maxlength ng-not-empty" data-numbers-only="" data-disallow-spaces="" maxlength="10">
                                            </div>
                                            </div>
                                            <div class="form-group row">
                                                <div class="col-md-4">
                                                <label class="label-control" style="float: right;">MKT Before Inplay Minutes<span class="danger">*</span>:</label>
                                                </div>
                                                <div class="col-md-4">
                                                <input type="text" class="form-control ng-pristine ng-untouched ng-valid ng-valid-maxlength ng-not-empty" data-numbers-only="" data-disallow-spaces="" maxlength="10">
                                                </div>
                                                </div>
                                            <div class="form-group row">
                                            <div class="col-md-4">
                                            <label class="label-control" style="float: right">isCheckVolume:</label>
                                            </div>
                                            <div class="col-md-4">
                                            <fieldset class="right-checkbox">
                                            <label class="custom-control custom-checkbox block">
                                            <input type="checkbox" checked="" class="custom-control-input ng-pristine ng-untouched ng-valid ng-empty" >
                                            <span class="custom-control-indicator"></span>
                                            <span class="custom-control-description"></span>
                                            </label>
                                            </fieldset>
                                            </div>
                                            </div>
                                            </div>
                                            </div>
                                            
                                            <h4 class="card-title" style="text-align: center;"><b>SESSION SETTING</b></h4><hr>
                                            <div class="col-md-12 row">
                                            <div class="col-md-6">
                                            <div class="form-group row ">
                                            <div class="col-md-4">
                                            <label class="label-control" style="float: right;">Session Min. Stake<span class="danger">*</span>:</label>
                                            </div>
                                            <div class="col-md-4">
                                            <input class="form-control ng-pristine ng-untouched ng-valid ng-valid-maxlength ng-not-empty" type="text" data-numbers-only="" data-disallow-spaces="" maxlength="10" >
                                            </div>
                                            </div>
                                            <div class="form-group row ">
                                            <div class="col-md-4">
                                            <label class="label-control" style="float: right;">Session Max. Profit<span class="danger">*</span>:</label>
                                            </div>
                                            <div class="col-md-4">
                                            <input class="form-control ng-pristine ng-untouched ng-valid ng-valid-maxlength ng-not-empty" type="text" data-numbers-only="" data-disallow-spaces="" maxlength="10" >
                                            </div>
                                            </div>
                                            <div class="form-group row ">
                                            <div class="col-md-4">
                                            <label class="label-control" style="float: right;">Session Per Rate Max. Stake<span class="danger">*</span>:</label>
                                            </div>
                                            <div class="col-md-4">
                                            <input class="form-control ng-pristine ng-untouched ng-valid ng-valid-maxlength ng-not-empty" type="text" data-numbers-only="" data-disallow-spaces="" maxlength="10" >
                                            </div>
                                            </div>
                                            </div>
                                             <div class="col-md-6">
                                            <div class="form-group row ">
                                            <div class="col-md-4">
                                            <label class="label-control" style="float: right;">Session Max. Stake<span class="danger">*</span>:</label>
                                            </div>
                                            <div class="col-md-4">
                                            <input class="form-control ng-pristine ng-untouched ng-valid ng-valid-maxlength ng-not-empty" type="text" data-numbers-only="" data-disallow-spaces="" maxlength="10" >
                                            </div>
                                            </div>
                                            <div class="form-group row ">
                                            <div class="col-md-4">
                                            <label class="label-control" style="float: right;">Session Max. Loss<span class="danger">*</span>:</label>
                                            </div>
                                            <div class="col-md-4">
                                            <input class="form-control ng-pristine ng-untouched ng-valid ng-valid-maxlength ng-not-empty" type="text" data-numbers-only="" data-disallow-spaces="" maxlength="10" >
                                            </div>
                                            </div>
                                            </div>
                                            </div>
                                            </div>
                                            <div class="hr-line-dashed"></div>

                                            <div class="form-group col-sm-4 button-row">
                                                    <button mat-raised-button color="warn" >Cancel</button>
                                                    <button mat-raised-button color="primary"  type="submit">Save</button>
                                            </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>