<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Tournament Profit | Loss</h5>
        </div>
        <div class="ibox-content-table table-responsive">
          <div class="search-div">
            <!-- <div class="Data-Filters">
                    <form class="form">
                    <div class="form-body">
                    <div class="col-md-12 row">
                    <div class="col-md-3 Data-Filter-padding-up-down">
                    <div class="col-md-8">
                      <mat-radio-button value="1">Date Wise</mat-radio-button>
                    </div>
                    <div class="datewise">
                    <div class="col-md-12">
                    <div class="input-group date">
                        <input type="text"
                        placeholder="Select please..."
                        class="form-control"
                        [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY', containerClass: 'theme-default',isAnimated: true }"
                        bsDaterangepicker>
                    </div>
                    
                    </div>
                    </div>
                    </div>
                    <div class="col-md-7 Data-Filter-padding-up-down">
                    <div class="col-md-4">
                      <mat-radio-button value="2">Market Wise</mat-radio-button>
                    </div>
                    <div class="mktwise" style="pointer-events:none;opacity:0.5;">
                    <div class="col-md-12 row">
                    <div class="col-md-4">
                    <select  id="spoOption"   class="form-control"><option value="" class="" selected="selected">--Sport--</option><option label="Soccer" value="object:429">Soccer</option><option label="Tennis" value="object:430">Tennis</option><option label="Kabaddi" value="object:431">Kabaddi</option><option label="Cricket" value="object:432">Cricket</option></select>
                    </div>
                    <div class="col-md-4">
                    <select  id="TourOption" class="form-control"><option value="" class="" selected="selected">--Tournaments--</option></select>
                    </div>
                    <div class="col-md-4">
                    <select  id="MatchOption" class="form-control"><option value="" class="" selected="selected">--Match--</option></select>
                    </div>
                    </div>
                    </div>
                    </div>
                    <div class="col-md-1 Data-Filter-padding-up-down">
                      <button class="create-button" mat-raised-button>
                        Submit
                      </button>
                    </div>
                    </div>
                    </div>
                    </form>
                  </div> -->
            <div class="form-group row mt-2">
              <div class="col-md-3 top_marg">
                <select
                  [(ngModel)]="sport"
                  (change)="getsportpnl()"
                  class="form-control"
                >
                  <option value="0">Select Sport</option>
                  <option
                    [ngValue]="sport.betfairId"
                    *ngFor="let sport of sportsList"
                    >{{ sport.sportName }}</option
                  >
                </select>
              </div>
            </div>
          </div>
          <hr />
          <div
            class="table-container mat-elevation-z8"
            style="width: 100%; height: 100%;"
          >
            <div class="Table-Title">
              <mat-form-field class="search-form-field" floatLabel="never">
                <input
                  matInput
                  id="filter-text-box"
                  placeholder="Search"
                  autocomplete="off"
                  (keyup)="onFilterTextBoxChanged()"
                />
                <!-- <button mat-button matSuffix mat-icon-button aria-label="Clear">
                          <mat-icon>close</mat-icon>
                        </button> -->
              </mat-form-field>
              <mat-form-field class="select-page-size">
                <mat-label>Page Size</mat-label>
                <select
                  matNativeControl
                  (change)="onPageSizeChanged($event)"
                  id="page-size"
                >
                  <option value="50">50</option>
                  <option value="100">100</option>
                  <option value="500">500</option>
                  <option value="1000">1000</option>
                </select>
              </mat-form-field>
              <div style="float: right; padding: 0px 10px 0px 0px;">
                <button
                  matNativeControl
                  class="btn btn-outline-success waves-effect waves-light"
                  type="button"
                  excelDwd
                >
                  <span class="mr-1"><i class="fa fa-file-excel-o"></i></span>
                </button>
              </div>
            </div>
            <ag-grid-angular
              style="width: 100%; height: 450px;"
              class="ag-theme-balham"
              [gridOptions]="gridOptions"
              [rowData]="rowData"
              [overlayLoadingTemplate]="overlayLoadingTemplate"
              [overlayNoRowsTemplate]="overlayNoRowsTemplate"
              [animateRows]="true"
              [pagination]="true"
              (gridReady)="onGridReady($event)"
              (gridSizeChanged)="onGridSizeChanged($event)"
            >
            </ag-grid-angular>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
