<div class="path-wrap">
  <p class="account-id">
    <span>{{userData.uName}}</span>

    <span class="time-zone">GMT+5:30</span>
  </p>
</div>

<ul class="menu-list">
  <li class=""><a href="#!profile">My Profile </a></li>

  <li class="">
    <a href="#!bal_overview">Balance Overview </a>
  </li>
  <li class=""><a href="#!statement">Account Statment</a></li>

  <li class=""><a href="#!current_bets">My Bets </a></li>
  <!-- <li><a id="Casino_report" href="account.html#!CasinoReport" target="_blank" >Casino Report</a></li> -->

  <li class=""><a href="#!bet_history">Bets History </a></li>

  <li class=""><a href="#!pnl">Profit &amp; Loss </a></li>

  <li class=""><a href="#!activity_log">Activity Log </a></li>
</ul>

<a id="logout" class="logout" data-ng-click="logout()">LOGOUT </a>
