<div
  class="ibox float-e-margins"
  style="overflow-y: auto"
  [ngStyle]="{ height: 540 - 240 + 'px' }"
>
  <div class="row">
    <div class="col-md-4 col-xs-8">
      <mat-form-field class="search-form-field" floatLabel="never">
        <input
          matInput
          id="filter-text-box"
          placeholder="Search"
          autocomplete="off"
          [(ngModel)]="searchValue"
        />
      </mat-form-field>
    </div>
    <div class="col-md-4 col-xs-4">
      <button
        class="create-button"
        (click)="openDeleteBetDialog(selected)"
        mat-raised-button
        *ngIf="show == true"
      >
        Reject All Bets
      </button>
      <!-- <button
        class="btn btn-danger btn-sm"
        data-toggle="modal"
        data-target="#Reject-Multiple-Bet"
        data-ng-click="rejectbetids()"
      >
        Reject All Bets
      </button> -->
    </div>
    <div class="col-md-4 col-xs-4" *ngIf="type">
      <select class="custom-select" (change)="filtergroup($event)">
        <option value="" selected="">All</option>
        <option value="Matched">Matched Bets</option>
        <option value="unMatched">UnMatched Bets</option>
      </select>
    </div>
  </div>
  <div class="table-container mat-elevation-z8">
    <ag-grid-angular
      [ngStyle]="{ height: innerHeight - 240 + 'px' }"
      class="ag-theme-balham"
      [gridOptions]="gridOptions"
      [defaultColDef]="defaultColDef"
      [rowData]="rowData"
      [columnDefs]="data"
      [animateRows]="true"
      [pagination]="true"
      (gridSizeChanged)="onGridSizeChanged($event)"
      (gridReady)="onGridReady($event)"
      (rowSelected)="onRowSelected($event)"
      (selectionChanged)="onSelectionChanged($event)"
      [suppressRowClickSelection]="true"
      [rowSelection]="rowSelection"
      [quickFilterText]="searchValue"
    >
    </ag-grid-angular>
  </div>
  <!-- </div> -->
</div>
