<h1 mat-dialog-title>{{data.betdata.name}}</h1>

<div mat-dialog-content>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>RUNS</th>
        <th>POSITION</th>
      </tr>
    </thead>
    <tbody>

       <ng-container *ngIf="data.book.length!=0">
        <tr *ngFor="let fbook of data.book">
           <td>{{fbook.Key}}</td>
           <td [ngClass]="(fbook.Value>=0)?'text-success':'text-danger'">{{fbook.Value | number:'1.2-2'}}</td>
        </tr>
       </ng-container>
       <ng-container *ngIf="data.book.length==0">
        <tr>
           <td colspan="2" style="text-align: center;"><b>No Book Available...</b></td>
        </tr>
       </ng-container>
       <!-- <tr>
        <td colspan="2" style="text-align: center;"><b>No Book Available...</b></td>
        </tr> -->
    </tbody>
  </table>
</div>

<div mat-dialog-actions>
  <button mat-raised-button color="warn" (click)="onNoClick()">Cancel</button>
  <!-- <button mat-raised-button color="primary" [mat-dialog-close]="data" cdkFocusInitial>Update</button> -->
</div>