<div class="download-buttons">
  <!-- <button mat-mini-fab ><i class="fa fa-file-pdf-o"></i></button> -->
  <!-- <button mat-mini-fab ><i class="fa fa-file-excel-o"></i></button> -->
</div>
<div class="wrapper wrapper-content">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Client List</h5>
        </div>
        <div class="ibox-content-table table-responsive">
          <div class="search-div">
            <mat-form-field class="search-form-field" floatLabel="never">
              <input
                matInput
                id="filter-text-box"
                placeholder="Search"
                autocomplete="off"
                (keyup)="onFilterTextBoxChanged()"
              />
            </mat-form-field>
            <button
              class="create-button"
              mat-raised-button
              *ngIf="creatorId === '0'"
              [routerLink]="'create'"
            >
              Create Client
            </button>
            <div style="float: right; padding: 0px 10px 0px 0px">
              <button
                matNativeControl
                class="btn btn-outline-success waves-effect waves-light"
                type="button"
                excelDwd
              >
                <span class="mr-1"><i class="fa fa-file-excel-o"></i></span>
              </button>
            </div>
          </div>
          <div class="row detailtop deskaction" style="margin: 0px">
            <div class="lastdetail">
              <span class="detailinfo"><b>D</b> : Deposit Chips</span
              ><span class="detailinfo"><b>W</b> : Withdraw Chips</span
              ><span class="detailinfo"><b>S-E</b> : Cash Settlement</span
              ><span class="detailinfo"
                ><b> <i class="fa fa-pencil"></i></b> : Edit User</span
              ><span class="detailinfo"><b>S-P</b> : Show Password</span
              ><span class="detailinfo"><b>L</b> : Limits</span>
              <span class="detailinfo"><b>R</b> : Report</span
              ><span class="detailinfo"><b>S</b> : Sharing</span
              ><span class="detailinfo"
                ><b><i class="fa fa-lock"></i></b> : Change Password</span
              >
            </div>
          </div>
          <div class="table-container mat-elevation-z8">
            <ag-grid-angular
              [ngStyle]="{ height: innerHeight - 240 + 'px' }"
              style="width: 100%"
              class="ag-theme-balham"
              [gridOptions]="gridOptions"
              [rowData]="rowData"
              [overlayLoadingTemplate]="overlayLoadingTemplate"
              [overlayNoRowsTemplate]="overlayNoRowsTemplate"
              [animateRows]="true"
              [pagination]="true"
              (gridReady)="onGridReady($event)"
              (gridSizeChanged)="onGridSizeChanged($event)"
            >
            </ag-grid-angular>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
