<div class="row margin-top">
        <div class="col-lg-3">
           <div class="ibox float-e-margins">
               <div class="ibox-title">
                   <h5>Total Bets Count</h5>
               </div>
               <div class="ibox-content ">
                   <h1 class="no-margins">17802</h1>
               </div>
           </div>
       </div>
       <div class="col-lg-3">
           <div class="ibox float-e-margins">
               <div class="ibox-title">
                   <h5>Settled Bets Count</h5>
               </div>
               <div class="ibox-content">
                   <h1 class="no-margins">17802</h1>
               </div>
           </div>
       </div>

       <div class="col-lg-3">
           <div class="ibox float-e-margins">
               <div class="ibox-title">
                   <h5>Unsettled Bets Count</h5>
               </div>
               <div class="ibox-content">
                   <h1 class="no-margins">0</h1>
               </div>
           </div>
       </div>

       <div class="col-lg-3">
           <div class="ibox float-e-margins">
               <div class="ibox-title">
                   <h5>Reverted Bets Count</h5>
               </div>
               <div class="ibox-content">
                   <h1 class="no-margins">0</h1>
               </div>
           </div>
       </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
        <div class="row ">
           <div class="col-lg-12">
              <div class="ibox float-e-margins">
                 <div class="ibox-title">
                    <h5>Match Bet Slips</h5>
                    <div class="ibox-tools">
                    </div>
                 </div>
                 <div class="ibox-content table-responsive">
                    <table class="table">
                       <thead>
                          <tr>
                             <th>Bet ID</th>
                             <th>Runner Name</th>
                             <th>User Name</th>
                             <th>RATE</th>
                             <th>Action</th>
                             <th>Actual Share</th>
                             <th>Coins Credited</th>
                             <th>Coins Debited</th>
                             <!--  <th>Stake</th> -->
                             <th>Status</th>
                          </tr>
                       </thead>
                       <tbody>
                          <tr>
                             <td>19205343</td>
                             <td>  
       
                                <span class="translation_missing" title="translation missing: en. guyana amazon warriors"> Guyana Amazon Warriors</span>
                             </td>
                             <td>sp50693</td>
                             <td>0.08</td>
                             <td>Back</td>
                             <td>0.0</td>
                             <td>0.0</td>
                             <td>0.0</td>
                             <!--  <td></td> -->
                             <td>settle</td>
                          </tr>
                          <tr>
                             <td>19204283</td>
                             <td>  
       
                                <span class="translation_missing" title="translation missing: en. guyana amazon warriors"> Guyana Amazon Warriors</span>
                             </td>
                             <td>spf2253</td>
                             <td>0.23</td>
                             <td>Back</td>
                             <td>0.0</td>
                             <td>0.0</td>
                             <td>0.0</td>
                             <!--  <td></td> -->
                             <td>settle</td>
                          </tr>
                          <tr>
                             <td>19204043</td>
                             <td>  
       
                                <span class="translation_missing" title="translation missing: en. guyana amazon warriors"> Guyana Amazon Warriors</span>
                             </td>
                             <td>spf2253</td>
                             <td>0.19</td>
                             <td>Back</td>
                             <td>0.0</td>
                             <td>0.0</td>
                             <td>0.0</td>
                             <!--  <td></td> -->
                             <td>settle</td>
                          </tr>
                          <tr>
                             <td>19195534</td>
                             <td>  
       
                                <span class="translation_missing" title="translation missing: en. guyana amazon warriors"> Guyana Amazon Warriors</span>
                             </td>
                             <td>sp50693</td>
                             <td>0.17</td>
                             <td>lay</td>
                             <td>0.0</td>
                             <td>0.0</td>
                             <td>0.0</td>
                             <!--  <td></td> -->
                             <td>settle</td>
                          </tr>
                          <tr>
                             <td>19193860</td>
                             <td>  
       
                                <span class="translation_missing" title="translation missing: en. guyana amazon warriors"> Guyana Amazon Warriors</span>
                             </td>
                             <td>sp50693</td>
                             <td>0.36</td>
                             <td>lay</td>
                             <td>0.0</td>
                             <td>0.0</td>
                             <td>0.0</td>
                             <!--  <td></td> -->
                             <td>settle</td>
                          </tr>
                          <tr>
                             <td>19191377</td>
                             <td>  
       
                                <span class="translation_missing" title="translation missing: en. guyana amazon warriors"> Guyana Amazon Warriors</span>
                             </td>
                             <td>sp50693</td>
                             <td>0.54</td>
                             <td>lay</td>
                             <td>0.0</td>
                             <td>0.0</td>
                             <td>0.0</td>
                             <!--  <td></td> -->
                             <td>settle</td>
                          </tr>
                       </tbody>
                    </table>
                 </div>
                 
              </div>
           </div>
        </div>
     </div>