<div class="Action-buttons">
  <button *ngIf="currentroute.includes('/fancy') && data.automatic==0" (click)="openRatePage()" mat-mini-fab color="warn" title="Edit">
    <i class="fa fa-plus" aria-hidden="true"></i>
  </button>
  <button *ngIf="currentroute.includes('/bookmaker')" (click)="openRatePage()" mat-mini-fab color="warn" title="Edit">
    <i class="fa fa-plus" aria-hidden="true"></i>
  </button>
  <button *ngIf="currentroute.includes('/Scorelist')" (click)="openRatePage()" mat-mini-fab color="warn" title="Edit">
    <i class="fa fa-plus" aria-hidden="true"></i>
  </button>
  <button *ngIf="currentroute.includes('/importrate')" [routerLink]="'/matchsetting'" (click)="getvalue(data)" mat-mini-fab
    color="accent" title="Match Settings">
    <i class="fa fa-cog"></i>
  </button>
</div>